<div class="container mx-auto flex flex-row gap-xs">
  <!--MAIN FILTERS-->
  <aside
    class="hidden md:block bg-kimberly-50 h-fit py-base w-[288px] mr-[16px]"
  >
    <!--BRAND AND MODEL FILTERS-->
    <div class="flex flex-col gap-[10px] px-base">
      <div class="flex flex-col gap-[10px]">
        <span class="inline-block">Марка авто</span>
        <app-filter-dropdown
          placeHolder="Виберіть марку авто"
        ></app-filter-dropdown>
      </div>
      <div class="flex flex-col gap-[10px]">
        <span class="inline-block">Модель авто</span>
        <app-filter-dropdown
          placeHolder="Виберіть модель авто"
        ></app-filter-dropdown>
      </div>
    </div>
    <!--HR ANALOG-->
    <div
      class="block min-h-[0.5px] w-full bg-kimberly-800 mt-[20px] mb-[10px]"
    ></div>
    <!--PRICE RELATED FILTER-->
    <app-filter-price-by-range-elements></app-filter-price-by-range-elements>
  </aside>
  <main class="flex-grow">
    <!--OTHER FILTERS-->
    <app-view-mode-selectors [filteredTotalResults]="store.filteredTotalVehicleCount()" [ourViewMode]="ourViewMode" (viewModeToggleEvent)="handleViewModeToggleEvent($event)"></app-view-mode-selectors>
    <!--VEHICLE DATA EXHIBITION-->
    @if(store.vehicles()) {
    <app-vehicle-data-view
      [vehicles]="store.vehicles()"
    ></app-vehicle-data-view>
    } @else {
    <div class="p-sm">
      <span>Виникли проблеми, спробуйте перезапустити сторінку.</span>
    </div>
    }
    <!--PAGINATION-->
    <div class="flex mt-xl mb-2xl justify-center">
      <app-pagination [totalPages]="store.filteredTotalVehicleCount() / store.currentPageItemsQuantity()" [currentPage]="store.pageIndex()" (onPageChangeEvent)="handlePageChangeEvent($event)"></app-pagination>
    </div>
  </main>
</div>
