<div class="container mt-3 mx-auto w-11/12 h-96 mb-4">
  <div class="grid grid-cols-5 gap-6 h-full">
    <ng-container *ngFor="let item of data.slice(0, 10)">
      <div class="bg-white rounded-lg shadow-md p-4 flex justify-center items-center aspect-w-1 aspect-h-1 shadow-top text-center overflow-hidden break-words transition-transform duration-500 transform hover:scale-105">
        <span class="overflow-hidden text-xl font-bold hover:border-b-2 border-[#F8D824]">{{ item.name }}</span>
      </div>
    </ng-container>
  </div>
</div>
