.brand-div{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Popover */
.popover {
  position: relative;
  top: -10px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border: none;
}

.popover-content{
  position: absolute;
  top: 15px;
  background-color: rgb(48, 48, 48);
  color: white;
  padding: 10px 20px;
  border-radius: 12px;
}

.popover-arrow{
  position: absolute;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  border-bottom: 18px solid rgb(48, 48, 48);
}

/* Chips */

.chipGroup .chip{
  display: inline-block;
  padding: 6px 12px;
  font-size: medium;
  background-color: transparent;
  color: black;
  border: 1px solid black;
  border-radius: 18px;
  transition: 0.15s;
  cursor: pointer;
}

.chipGroup .chip:hover{
  background-color: rgb(0, 0, 0);
  color: white;
}


.chipGroup .cancelChip{
  border-color: rgb(221, 163, 163);
  transition: 0.25s ease;
}

.chipGroup .cancelChip:hover{
  background-color: rgb(228, 128, 128);
  color: white;
}







