<div class="text-lg font-bold">
  <span *ngIf="totalCountItems"
    >Пошук машин -
    <span *ngIf="totalCountItems > 1">{{ totalCountItems }} пропозицій</span>
    <span *ngIf="totalCountItems == 1">{{ totalCountItems }} пропозиція</span>
  </span>
  <span *ngIf="totalCountItems == 0"
    >Не має жодних пропозицій з таким запитом. Спробуйте наступного
    разу!!!</span
  >
  <div> 
    
  </div>
</div>
<!--Change view and Chips-->
<div class="d-flex flex-row gap-2 mb-2 justify-content-between">
  <!--Chips-->
  <div class="">
    <app-chip-list
      [catalogParams]="catalogParams"
      (selectedChipClick)="handleSelectedChipClick($event)"
      class="mt-auto"
    ></app-chip-list>
  </div>
  <!--Change View and Sorting-->
  <div class="d-flex flex-row">
    <app-sort-select-type
      class="mr-2 mt-auto"
      [types]="sortTypes"
      (selectedSortTypeChange)="handleSelectedSortTypeChange($event)"
    ></app-sort-select-type>
    <app-change-view-grid
      class="mt-auto"
      (selectedViewTypeChange)="handleSelectedViewChange($event)"
    ></app-change-view-grid>
  </div>
</div>

<mat-divider class="my-2"></mat-divider>

<!--Main-->
<div class="row">
  <!--Filters-->
  <section class="col-3">
    <div class="flex flex-col gap-4">
      <app-dropdown-typeahead
        [options]="types"
        type="Type"
        placeholder="Тип"
        [choiceOption]="catalogParams.typeName"
        (selectedOptionChange)="handleSelectedOptionChange($event)"
      ></app-dropdown-typeahead>

      <div class="brand-div">
        <app-dropdown-typeahead
          class="w-full"
          [options]="brands"
          placeholder="Виробник"
          type="Brand"
          [choiceOption]="catalogParams.brandName"
          (selectedOptionChange)="handleSelectedOptionChange($event)"
        >
        </app-dropdown-typeahead>
        <ng-container *ngIf="shouldShowPopover">
          <div class="popover w-full">
            <div class="popover-arrow"></div>
            <div class="popover-content">Оберіть спочатку бренд!</div>
          </div>
        </ng-container>
      </div>

      <app-dropdown-typeahead
        (click)="togglePopover()"
        [options]="models || []"
        placeholder="Марка"
        type="Model"
        [choiceOption]="catalogParams.modelName"
        (onComponentClick)="handleClickModelDropDownTypeahead($event)"
        (selectedOptionChange)="handleSelectedOptionChange($event)"
      ></app-dropdown-typeahead>

      <app-dropdown-typeahead
        [options]="colors"
        placeholder="Колір"
        type="Color"
        [choiceOption]="catalogParams.colorName"
        (selectedOptionChange)="handleSelectedOptionChange($event)"
      ></app-dropdown-typeahead>

      <mat-divider class="mt-2"></mat-divider>

      <app-price-select
        [lowerPriceLimit]="catalogParams.lowerPriceLimit"
        [upperPriceLimit]="catalogParams.upperPriceLimit"
        (selectedNewLowerPrice)="handleChangeLowerPriceLimit($event)"
        (selectedNewUpperPrice)="handleChangeUpperPriceLimit($event)"
      ></app-price-select>
      <div>
        <app-date-picker
          [minimalPriceDate]="catalogParams.minimalPriceDate"
          (minimalPriceDateChange)="handleMinimalDateChange($event)"
        ></app-date-picker>
      </div>
    </div>
  </section>

  <!--Car items and paginations-->
  <section class="col-9">
    <div class="mb-4">
      <div class="row" [ngClass]="'row-cols-' + columnCount">
        <div class="col" *ngFor="let vehicle of vehicles">
          <app-car-item-component
            [vehicle]="vehicle"
            [columnCount]="columnCount"
          ></app-car-item-component>
        </div>
      </div>
    </div>

    <app-catalog-footer
      [totalCountItems]="totalCountItems"
      [pageNumber]="catalogParams.pageNumber"
      [itemsPerPage]="catalogParams.pageSize"
      (pageNumberChange)="handlePageNumberChange($event)"
      (pageSizeChange)="handlePageSizeChange($event)"
    ></app-catalog-footer>
  </section>
</div>
