<form
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
  class="bg-kimberly-50 rounded-xl p-[14px] mb-[48px]"
>
  <div class="flex flex-col gap-sm pb-[30px]">
    <div class="flex flex-row gap-[12px]">
      <app-icon-photo-camera [svgClass]="'size-[34px]'"></app-icon-photo-camera>
      <span class="capitalize text-h4 font-code">Фотографії</span>
    </div>
    <span class="text-sm text-portGore-800"
      >Завантажте фотографії Вашого авто(максимум 5 фото). Якісні фотографії
      збільшують шанси швидкого продажу</span
    >
  </div>
  <!--PHOTO UPLOADER-->
  <app-photo-uploader formControlName="photos" [label]="'фотографії'"></app-photo-uploader>
  <div class="flex flex-row justify-between items-center w-full pt-base">
    <button
      type="button"
      class="flex flex-row gap-[10px] bg-transparent border border-portGore-950 text-portGore-950 border- px-[10px] py-[6px] rounded-[6px] transition-all duration-300 hover:bg-redy-700 hover:text-kimberly-50 hover:border-transparent"
      (click)="cancel.emit()"
    >
      <app-icon-exit-photo-form
        [svgClass]="'size-[24px]'"
      ></app-icon-exit-photo-form>
      <span class="hidden sm:block">Додати фотографії пізніше</span>
    </button>
    <button
      type="submit"
      class="flex flex-row items-center gap-[4px] xs:gap-[10px] bg-portGore-950 text-kimberly-50 px-[10px] py-[6px] rounded-[6px] transition-all duration-300 hover:bg-portGore-700"
      (click)="save.emit()"
    >
      <span class="">Завантажити фотографії</span>
      <app-icon-outline-check
        [svgClass]="'size-[24px]'"
      ></app-icon-outline-check>
    </button>
  </div>
</form>
