<div class="flex flex-row bg-green-400 w-full hover:shadow-md cursor-pointer">
    <img
      class="object-cover h-full w-24"
      src="../../../../assets/images/car11.png"
    />
    <div>
      <span> src\assets\images\car11.png </span>
      <!--Properties-->
      <div class="flex flex-wrap mb-2">
        <div class="w-10 h-4 bg-slate-500"></div>
      </div>
      <!--Badges-->
      <div class="flex flex-wrap mb-2">
        <div class="w-10 h-4 bg-black"></div>
      </div>
    </div>
  </div>
  