<footer class="text-white p-16 bg-[#636363]">
  <div class="container mx-auto">
    <div class="flex flex-row justify-between align-middle">
      <div class="text-white self-center">
        <!-- Додано align-items-center -->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512"
          stroke="white"
          class="w-5 h-5 mr-2"
        >
          <path
            fill="#ffffff"
            d="M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM199.4 312.6c-31.2-31.2-31.2-81.9 0-113.1s81.9-31.2 113.1 0c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9c-50-50-131-50-181 0s-50 131 0 181s131 50 181 0c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0c-31.2 31.2-81.9 31.2-113.1 0z"
          />
        </svg>
        <span>2024 Lanos Certified Store</span>
      </div>
      <div>
        <img
          class="h-20 w-auto"
          src="assets/images/Logo.svg"
          alt="Your Company"
        />
      </div>
      <div class="flex flex-col gap-1">
        <span class="block self-center font-semibold team-text">Team</span>
        <div class="flex -space-x-4 gap-1 rtl:space-x-reverse">
          <img
            class="w-10 h-10 border-2 rounded-full border-gray-800"
            src="assets/images/team/DA.jpg"
            alt=""
          />
          <img
            class="w-10 h-10 border-2 rounded-full border-gray-800"
            src="assets/images/team/DM.jpg"
            alt=""
          />
          <img
            class="w-10 h-10 border-2 rounded-full border-gray-800"
            src="assets/images/team/S.jpg"
            alt=""
          />
          <img
            class="w-10 h-10 border-2 rounded-full border-gray-800"
            src="assets/images/team/N.jpg"
            alt=""
          />
        </div>
        <span class="block underline-text">+380 98 742 04 38</span>
      </div>
    </div>
  </div>
</footer>
