footer{
  margin-top: auto;
  width: 100%;
}

.underline-text {
  text-decoration: underline;
  text-decoration-color: white;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}

.team-text {
  font-family: 'Protest Strike', sans-serif;
}