<section class="container mx-auto py-[144px]">
    <div class="relative flex flex-col-reverse sm:flex-row gap-base justify-center items-center">
        <div routerLink="/catalog" class="cursor-pointer group relative text-center text-kimberly-100">
            <div
                class="z-50 adTextOn one w-full absolute top-1/3 sm:top-[210px] md:top-[260px] lg:top-[150px] xl:top-[180px] left-1/2 -translate-x-1/2 flex flex-col gap-sm items-center transition-colors duration-500 group-hover:text-kimberly-50">
                <span class="block w-10/12 text-[32px] leading-[32px] font-medium ">Ти хочеш
                    купити нове авто?</span>
                <span class="block w-[95%] sm:w-[98%] lg:w-[92%] xl:w-[95%] text-wrap text-sm underline-offset-2 underline">Знайди
                    свою мабутню
                    машину в нашому інвентарі, що містить 2к машин</span>
            </div>
            
            <div class="tranisition-all duration-500 group-hover:scale-[102%] z-10">
                <img class="block sm:hidden" src="assets/images/Home/buy-car-ad.png">
                <img class="hidden sm:block lg:hidden" src="assets/images/Home/buy-car-ad-lg-less.png">
                <img class="hidden lg:block w-[520px]" src="assets/images/Home/buy-car-ad.png">
            </div>
        </div>

        <div class="cursor-pointer group relative text-center text-kimberly-100">
            <div
                class="z-50 adTextOn two w-full absolute  top-1/3 sm:top-[210px] md:top-[260px] lg:top-[150px] xl:top-[180px] left-1/2 -translate-x-1/2 flex flex-col gap-sm items-center transition-colors duration-500 group-hover:text-kimberly-50">
                <span class="block w-10/12 xl:w-11/12 text-[32px] leading-[32px] font-medium ">Ти хочеш
                    продати своє авто?</span>
                <span class="block w-[95%] sm:w-[98%] lg:w-[92%] xl:w-[95%] text-wrap text-sm underline-offset-2 underline">Додай свою машину до складу & отримай 3000+ потенційних клієнтів</span>
            </div>

            <div class="tranisition-all duration-700 group-hover:scale-[102%] z-10">
                <img class="block sm:hidden" src="assets/images/Home/sell-car-ad.png">
                <img class="hidden sm:block lg:hidden" src="assets/images/Home/sell-car-ad-lg-less.png">
                <img class="hidden lg:block" src="assets/images/Home/sell-car-ad.png">
            </div>

        </div>

        <img class="absolute top-1/2 -translate-y-1/2 sm:translate-y-[0px] sm:-top-[10px] lg:-top-[120px] left-1/2 -translate-x-1/2 block w-[66%] sm:w-[420px] md:w-[460px] lg:w-[479px] pointer-events-none"
            src="assets/images/Home/car-ad.png">
    </div>
</section>