<div class="option-select-item mr-8">
    <button class="button w-full h-25"
        [ngStyle]="{'border-color': isDropdownVisible ? '#000000' : 'rgb(170, 168, 190)'}">
        <div (click)="toggleDropdown()" class="d-flex justify-content-between align-items-center inputElement">
            <!--Angular loading component specific work via 'костиль' (options.length > 0 ? options[0].name : '')-->
            <span
                [innerHTML]="selectedOption?.name ? selectedOption.name : '<span class=\'text-secondary\'>' + (options.length > 0 ? options[0].name : '') + '</span>'"></span> 
            <i *ngIf="selectedOption == null" class="fa fa-solid fa-lg fa-angle-down fa-fw text-secondary ml-4"></i>
            <svg *ngIf="selectedOption" (click)="clearSelectedOption()" class="w-5 h-5"
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <path
                    d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM175 175c9.4-9.4 24.6-9.4 33.9 0l47 47 47-47c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-47 47 47 47c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-47-47-47 47c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l47-47-47-47c-9.4-9.4-9.4-24.6 0-33.9z" />
            </svg>
        </div>

        <div class="dropdown w-full" [ngStyle]="{'display': isDropdownVisible ? 'block' : 'none'}">
            <ul>
                <li *ngFor="let option of options; let i = index">
                    <div *ngIf="i > 0">
                        <div class="ourItem d-flex justify-content-between"
                            (click)="selectOption(option); toggleDropdown()">
                            <a>
                                {{ option.name }}
                            </a>
                            <div class="checkmark">
                                <div [ngClass]="{'show-checkmark': option === selectedOption}"></div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </button>
</div>