.button {
    margin-right: 100px;
    position: relative;
    
}

.inputElement {
    height: 42px;
    border: 2px solid #acabab;
    border-radius: 10px;

    width: 100%;

    cursor: text;
    padding: 0px 10px 0px 2px;
}

.inputElement:hover {
    border-color: rgb(124, 122, 122);
}

.inputElement:focus {
    border-color: rgb(124, 122, 122);
}


.inputElement input{
    height: 100%;
    border-color: transparent;
    border-radius: 20px;
    width: 80%;

    cursor:text;
}

.inputElement input:focus{
    box-shadow: none;
}

.iconButtons{
    cursor: pointer;
}

.button .dropdown {
    display: none;
    position: absolute;
    box-shadow: 0px 0px 12px #ccc;
    background-color: #f9f9f9;
    top: 120%;
    left: 0;
    border: 1px solid #cccccc;

    max-height: 200px;
    overflow-y: scroll;

    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
    border-radius: 10px;

    padding-bottom: 8px;

    z-index: 2;
}

.button:focus .dropdown {
    display: block;
}

.button .dropdown ul {
    list-style: none;
    padding-top: 10px;
}

ul li {
    padding-left: 10px;
    padding-right: 12px;
}

ul .ourItem {
    display: block;
    text-decoration: none;
    color: #000000;
    border-radius: 10px;
    padding: 10px 10px 10px 12px;
    text-align: left;
}

ul .ourItem:hover {
    background-color: rgba(128, 128, 128, 0.16);
}

.checkmark {
    background-color: white;
    width: 25px;
    height: 25px;
    border: 1px solid rgb(87, 87, 87);
    display: block;
    position: relative;
    border-radius: 16px;
}

.show-checkmark {
    position: absolute;
    height: 16px;
    width: 16px;
    top: 50%;
    left: 50%;
    background-color: rgb(61, 61, 61);
    border-radius: 100%;
    /* Make it a circle */
    transform: translate(-50%, -50%);
}