<div *ngIf="totalCountItems" class="d-flex justify-content-between mb-10">
  <div>
  </div>
  <app-pager
      [totalCountItems]="totalCountItems"
      [itemsPerPage]="itemsPerPage"
      (pageChanged)="handlePageChangedEvent($event)"
    ></app-pager>
  <div class="mb-1">
    <span
      >Показувати по:
      <select (change)="onOptionSelected($event)">
        <option *ngFor="let option of optionsArr" [value]="option">
          {{ option }} оголошень
        </option>
      </select></span
    >
  </div>
</div>
