select {
  border: none;
  border-bottom: 2px dashed black;
  box-shadow: none;
  height: 35px;
  padding-left: 5px;
  padding-right: 30px;
}

select:hover {
  border-bottom: 2px solid black;
}

select {
  border-radius: 0;
}

option {
  border-radius: 0; 
}
