<div class="flex justify-between items-center p-sm rounded-md">

    <div class="flex flex-row items-center justify-center">
        <button (click)="onTabChange('myOffers')" [ngClass]="{
      'bg-gray-200': selectedTab === 'myOffers',
      'bg-white': selectedTab !== 'myOffers'
    }" class="border border-black text-black font-bold py-sm px-lg rounded-r-[18px] z-2" type="button">Мої
            пропозиції</button>
        <button (click)="onTabChange('favorites')" [ngClass]="{
      'bg-gray-200': selectedTab === 'favorites',
      'bg-white': selectedTab !== 'favorites'
    }" class="border-t border-r border-b border-black text-black font-bold py-sm pl-[6px] pr-lg rounded-r-[18px] ml-[-8px]"
            type="button">Обране</button>
    </div>


    <button
        class="flex items-center justify-center gap-xs border border-black rounded-full px-base py-sm w-[300px] text-md font-medium font-black">
        <span class="text-portGore-600 text-lg">+</span>
        Створити нове оголошення
    </button>
</div>


<!-- Контент для вкладки "Мої пропозиції" -->
<div *ngIf="selectedTab === 'myOffers'">
    <div class="flex flex-col gap-md">
        <app-carcard
            *ngFor="let vehicle of vehicles"
            [vehicle]="vehicle">
        </app-carcard>
    </div>
</div>

<!-- Контент для вкладки "Обране" -->
<div *ngIf="selectedTab === 'favorites'">
    <div class="flex flex-col gap-md">
        <app-carcard
            *ngFor="let vehicle of vehicles"
            [vehicle]="vehicle">
        </app-carcard>
    </div>
</div>

