<!--Div below (may) better be form in the future-->
<section>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-sm sm:gap-md pb-[28px]">
    <div class="group flex flex-row rounded bg-kimberly-50 cursor-pointer">
      <div
        class="h-full transition-all duration-300 opacity-0 max-w-[8px] w-[0px] border-0 rounded-l bg-kimberly-50 group-hover:opacity-100 group-hover:bg-redy-800 group-hover:w-[8px]"
      ></div>
      <div class="flex flex-row justify-between w-full py-[14px] px-[12px]">
        <div class="flex flex-row-reverse gap-base items-center">
          <span class="text-md text-content-primary font-medium">Оберіть Рік</span>
          <kolesko-icon class="text-kimberly-50" name="calendar"></kolesko-icon>
        </div>

        <kolesko-icon class="text-redy-800 rotate-90"></kolesko-icon>
      </div>
    </div>
    <div class="group flex flex-row rounded bg-kimberly-50 cursor-pointer">
      <div
        class="h-full transition-all duration-300 opacity-0 max-w-[8px] w-[0px] border-0 rounded-l bg-kimberly-50 group-hover:opacity-100 group-hover:bg-redy-800 group-hover:w-[8px]"
      ></div>
      <div class="flex flex-row justify-between w-full py-[14px] px-[12px]">
        <div class="flex flex-row-reverse gap-base items-center">
          <span class="text-md text-content-primary font-medium">Оберіть Бренд</span>
          <kolesko-icon class="text-redy-800" name="car-2000"></kolesko-icon>
        </div>

        <kolesko-icon class="text-redy-800 rotate-90"></kolesko-icon>
      </div>
    </div>
    <div class="group flex flex-row rounded bg-kimberly-50 cursor-pointer">
      <div
        class="h-full transition-all duration-300 opacity-0 max-w-[8px] w-[0px] border-0 rounded-l bg-kimberly-50 group-hover:opacity-100 group-hover:bg-redy-800 group-hover:w-[8px]"
      ></div>
      <div class="flex flex-row justify-between w-full py-[14px] px-[12px]">
        <div class="flex flex-row-reverse gap-base items-center">
          <span class="text-md text-content-primary font-medium">Оберіть Модель</span>
          <kolesko-icon class="text-redy-800" name="car-change"></kolesko-icon>
        </div>

        <kolesko-icon class="text-redy-800 rotate-90"></kolesko-icon>
      </div>
    </div>
    <div class="group flex flex-row rounded bg-kimberly-50 cursor-pointer">
      <div
        class="h-full transition-all duration-300 opacity-0 max-w-[8px] w-[0px] border-0 rounded-l bg-kimberly-50 group-hover:opacity-100 group-hover:bg-redy-800 group-hover:w-[8px]"
      ></div>
      <div class="flex flex-row justify-between w-full py-[14px] px-[12px]">
        <div class="flex flex-row-reverse gap-base items-center">
          <span class="text-md text-content-primary font-medium">Оберіть Область</span>
          <kolesko-icon
            class="text-redy-800"
            name="google-location"
          ></kolesko-icon>
        </div>

        <kolesko-icon class="text-redy-800 rotate-90"></kolesko-icon>
      </div>
    </div>
    <div class="group flex flex-row rounded bg-kimberly-50 cursor-pointer">
      <div
        class="h-full transition-all duration-300 opacity-0 max-w-[8px] w-[0px] border-0 rounded-l bg-kimberly-50 group-hover:opacity-100 group-hover:bg-redy-800 group-hover:w-[8px]"
      ></div>
      <div class="flex flex-row justify-between w-full py-[14px] px-[12px]">
        <div class="flex flex-row-reverse gap-base items-center">
          <span class="text-md text-content-primary font-medium">Оберіть тип двигуна</span>
          <kolesko-icon class="text-redy-800" name="speedometr"></kolesko-icon>
        </div>
        <kolesko-icon class="text-redy-800 rotate-90"></kolesko-icon>
      </div>
    </div>
    <div class="group flex flex-row rounded bg-kimberly-50 cursor-pointer">
      <div
        class="h-full transition-all duration-300 opacity-0 max-w-[8px] w-[0px] border-0 rounded-l bg-kimberly-50 group-hover:opacity-100 group-hover:bg-redy-800 group-hover:w-[8px]"
      ></div>
      <div class="flex flex-row justify-between w-full py-[14px] px-[12px]">
        <div class="flex flex-row-reverse gap-base items-center">
          <span class="text-md text-content-primary font-medium">Оберіть Трансмісію</span>
          <kolesko-icon class="text-redy-800" name="transmission"></kolesko-icon>
        </div>
        <kolesko-icon class="text-redy-800 rotate-90"></kolesko-icon>
      </div>
    </div>
  </div>
  <div id="sliderRange-container" class="mb-[30px]">
    <p class="text-kimberly-50 text-md font-medium mb-[28px]">
      Ваш діапазон:&nbsp;&nbsp;&nbsp;&nbsp;<span id="lowerPrice">{{ lowerPriceValue | currency:'USD':'symbol':'0.0' }}</span> -
      <span id="upperPrice">{{ upperPriceValue | currency:'USD':'symbol':'0.0' }}</span>
    </p>

    <div
      class="relative sliderRangeContainer w-full flex items-center justify-center"
    >
      <input (input)="updateCssVariableRangeValue()" type="range" min="0" max="100" value="30" #sliderRangeElement />
    </div>
  </div>

  <div class="pt-sm sm:pt-base flex justify-center">
    <button
      class="group rounded bg-redy-800 py-sm px-lg flex flex-row justify-center items-center gap-[10px] transition-all duration-500 hover:bg-redy-950"
    >
      <span class="block text-kimberly-50 text-xl font-bold">Пошук машин</span>
      <kolesko-icon
        name="search-short-stick"
        class="text-kimberly-50 transition-all duration-500 group-hover:scale-125 group-hover:text-portGore-700"
      ></kolesko-icon>
    </button>
  </div>
</section>
