<!--Div below (may) better be form in the future-->
<section>
  <div class="grid grid-cols-3 gap-base pb-[28px]">
    <div class="rounded p-sm bg-kimberly-50 flex flex-row justify-between cursor-pointer">
      <span>Щось</span>
      <kolesko-icon class="text-redy-800 rotate-90"></kolesko-icon>
    </div>
    <div class="rounded p-sm bg-kimberly-50 flex flex-row justify-between cursor-pointer">
      <span>Щось</span>
      <kolesko-icon class="text-redy-800 rotate-90"></kolesko-icon>
    </div>
    <div class="rounded p-sm bg-kimberly-50 flex flex-row justify-between cursor-pointer">
      <span>Щось</span>
      <kolesko-icon class="text-redy-800 rotate-90"></kolesko-icon>
    </div>
    <div class="rounded p-sm bg-kimberly-50 flex flex-row justify-between cursor-pointer">
      <span>Щось</span>
      <kolesko-icon class="text-redy-800 rotate-90"></kolesko-icon>
    </div>
    <div class="rounded p-sm bg-kimberly-50 flex flex-row justify-between cursor-pointer">
      <span>Щось</span>
      <kolesko-icon class="text-redy-800 rotate-90"></kolesko-icon>
    </div>
    <div class="rounded p-sm bg-kimberly-50 flex flex-row justify-between cursor-pointer">
      <span>Щось</span>
      <kolesko-icon class="text-redy-800 rotate-90"></kolesko-icon>
    </div>
  </div>

  <div class="bg-portGore-200 h-[200px] mb-[30px]">

  </div>

  <div class="flex justify-center">
    <button class="group rounded bg-redy-800 py-sm px-lg flex flex-row justify-center items-center gap-[10px] transition-all duration-500 hover:bg-redy-950">
        <span class="block text-kimberly-50 text-xl font-bold">Пошук машин</span>
        <kolesko-icon name="search-short-stick" class="text-kimberly-50 transition-all duration-500 group-hover:scale-125 group-hover:text-portGore-700"></kolesko-icon>
    </button>
  </div>
</section>
