<div id="mainCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div
        class="carousel-item"
        data-bs-interval="false"
        *ngFor="let item of carouselItems; let i = index"
        [class.active]="i === 0"
      >
        <img src="{{item.image}}" alt="{{item.alt}}" class="img-fluid">
      </div>
    </div>
    <button
      class="carousel-control-prev bg-black rounded-circle d-flex justify-content-center align-content-center w-14 h-14 my-auto ml-4"
      type="button"
      data-bs-target="#mainCarousel"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next bg-black rounded-circle d-flex justify-content-center align-content-center w-14 h-14 my-auto mr-4"
      type="button"
      data-bs-target="#mainCarousel"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>