<div class="p-2 w-10/12 h-dvh mx-auto grid grid-cols-3 gap-6 mb-4">
  <div *ngFor="let card of cards" class="bg-white rounded-lg overflow-hidden shadow-md"
       (mouseenter)="card.isHovered = true" (mouseleave)="card.isHovered = false">
    <img src="{{card.imageUrl}}" alt="{{card.title}}" class="w-full h-2/3 object-cover"
         [ngClass]="{'hovered': card.isHovered}">
    <div class="p-4">
      <h3 class="text-xl font-semibold mb-2">{{card.title}}</h3>
      <div class="text-gray-700">
        <strong class="nowrap">{{card.priceUAH}}</strong>
        <span class="dot"> · </span>
        <span class="nowrap">{{card.priceUSD}}</span>
      </div>
    </div>
  </div>
</div>
<button (click)="loadMore()" class="mt-4 mx-auto block px-14 py-2 bg-transparent border border-black text-black rounded-full hover:bg-gray-300 hover:text-white hover:border-transparent transition duration-300 ease-in-out">Переглянути ще</button>
