<div class="p-2 w-10/12 h-dvh mx-auto grid grid-cols-3 gap-6 mb-4">
  <div *ngIf="vehicles && vehicles.length">
    <div *ngFor="let vehicle of vehicles" class="bg-white rounded-lg overflow-hidden shadow-md">
      <img src="../../../assets/images/cars/car2.png" alt="{{ vehicle.model }}" class="w-full h-2/3 object-cover">
      <div class="p-4">
        <h3 class="text-xl font-semibold mb-2">{{ vehicle.model }}</h3>
        <div class="text-gray-700">
          <strong class="nowrap">{{ vehicle.prices[0].value }}</strong> 
        </div>
      </div>
    </div>
  </div>
</div>

