.bg-white {
  transition: box-shadow 0.3s;
}

.hovered {
  transform: scale(1.05);
  transition: transform 0.3s ease;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}

.card-container{
  position: relative;
  height: 360px;
  cursor: pointer;
}

.card-container:hover{
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.3);
}

.image-container{
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65%;
}

.card-container:hover .card-image {
  transform: scale(1.15);
}

.card-image {
  transition: transform 0.3s;
}

.lookMore{
  font-size: 20px;
}