@if(vehicle().model) {
<div class="flex flex-col h-full">
  <div class="flex flex-row items-start justify-between mb-[12px]">
    <!--NAME & PRICE-->
    <div class="flex flex-col">
      <span class="block font-bold text-xl leading-normal"
        >{{ vehicle().brand }} {{ vehicle().model }}
        {{ vehicle().productionYear }}</span
      >
      <span class="font-bold text-xl">
        {{
          vehicle().prices.length
            ? vehicle().prices[vehicle().prices.length - 1].value
            : ""
        }}$</span
      >
    </div>
    <button type="button" (click)="bookmarkButtonClick.emit()">
      <app-icon-bookmark-main
        innerClass="size-lg cursor-pointer transition-all"
        [class]="
          vehicle().isPresentInWishlist
            ? 'text-redy-300 stroke-redy-500'
            : 'text-portGore-50 stroke-portGore-800'
        "
      ></app-icon-bookmark-main>
    </button>
  </div>
  <app-owner-card [vehicle]="vehicle()"></app-owner-card>
  <app-vehicle-details [vehicleDetails]="vehicleDTO()"></app-vehicle-details>
</div>
}
