@if(vehicle().model) {
<div class="flex flex-col h-full">
  <div class="flex flex-row items-start justify-between mb-[12px]">
    <!--NAME & PRICE-->
    <div class="flex flex-col">
      <span class="block font-bold text-xl leading-normal"
        >{{ vehicle().brand }} {{ vehicle().model }}
        {{ vehicle().productionYear }}</span
      >
      <span class="font-bold text-xl">{{ vehicle().prices[0].value }}$</span>
    </div>
    <div>
      <app-icon-bookmark-main
        innerClass="text-portGore-50 size-lg cursor-pointer transition-all duration-200 hover:text-portGore-700"
        class="stroke-portGore-800"
      ></app-icon-bookmark-main>
      <!--TODO: for adding logic when user want to book this car-->
      <!-- <app-icon-bookmark-main
      class="size-md cursor-pointer transition-all text-green-800 stroke-portGore-800"
    ></app-icon-bookmark-main> -->
    </div>
  </div>
  <app-owner-card [vehicle]="vehicle()"></app-owner-card>
  <app-vehicle-details [vehicleDetails]="vehicleDTO()"></app-vehicle-details>
</div>
}
