<div class="flex flex-col">
  <app-hero-section></app-hero-section>
  <app-type-exhibit-section
    [vehicles]="vehicles"
    [bodyTypes]="filteredBodyTypes"
    (clickedBodyTypeEvent)="handleClickedBodyTypeEvent($event)"
  ></app-type-exhibit-section>
  <div class="bg-portGore-700">
    <app-top-propositions-section
      [vehicles]="topPriceVehicles"
    ></app-top-propositions-section>
  </div>
  <app-ad-block-section></app-ad-block-section>
  <div class="bg-portGore-700">
    <app-fast-search-section
      [priceRange$]="priceRange$"
      [InfoObjectDataOptionated]="InfoObjectDataOptionated"
      (getInfoForUlEvent)="handleGetInfoForUlEvent($event)"
      (changeRouterLinkEvent)="handleChangeRouterLink($event)"
    >
    </app-fast-search-section>
  </div>
  <app-contact-form-section></app-contact-form-section>
</div>
