<div class="container mx-auto flex flex-col gap-base">
  <!--PRODUCT GALERRY + DETAILS-->
  <div class="gap-base flex flex-col lg:flex-row">
    <ng-container *ngIf="vehicle()">
      <app-thumbnails-carousel
        class="grow-0 shrink-0 basis-2/3"
        [vehicle]="vehicle()"
      ></app-thumbnails-carousel>
    </ng-container>

    <app-product-details
      class="flex-1"
      [vehicle]="vehicle()"
      (bookmarkButtonClick)="handleBookmarkButtonClick()"
    ></app-product-details>
  </div>
  <!--DETAILED DESCRIPTION-->
  <div>
    <app-detailed-description [description]="vehicle().description"></app-detailed-description>
  </div>
  <!--SIMILAR ADVERTISEMENTS-->
  <div class="flex flex-col gap-lg mt-base">
    <div class="flex flex-row items-center gap-[12px]">
      <app-icon-outlined-annotation class="size-md text-portGore-500"></app-icon-outlined-annotation>
      <span class="font-bold text-md text-portGore-950">Схожі оголошення</span>
    </div>
    <app-similar-products-carousel
      [vehicles]="similarVehicles()"
      (goToVehiclePage)="handleGoToVehiclePage($event)"
    ></app-similar-products-carousel>
  </div>
  <!--OTHER MODELS OF BRAND-->
  <div class="flex flex-col gap-lg mb-lg mt-lg">
    <div class="flex flex-row items-center gap-[12px]">
      <app-icon-outline-zoom-in class="size-md text-portGore-500"></app-icon-outline-zoom-in>
      <span class="font-bold text-md text-portGore-950">Інші моделі {{ vehicle().brand }}</span>
    </div>
    <app-other-models [models]="models()" [brandName]="vehicle().brand" (modelClicked)="handleModelClicked($event)" (brandClicked)="handleBrandClicked($event)"></app-other-models>
  </div>
</div>
