<div class="container-fluid">
  <div class="row">
    <div class="col-md-3" style="width: 20%">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-md-9">
      <div class="container mt-4">
        <h2 class="mb-2 fs-2 text-semibold">Колір</h2>
        <hr class="border border-dark border-1 my-2 opacity-100">
        <app-adminsearchbar></app-adminsearchbar>

        <div class="rounded p-3 shadow-xl mb-2">
          <div class="mb-2">
            <button type="button" class="btn btn-warning btn-add ms-2" data-bs-toggle="modal"
              data-bs-target="#colorModal">
              <span class="d-flex align-items-center ">
                <i class="fa-solid fa-plus" style="color: #2a2d32;"></i>
                <p class="ml-2"> Створити новий колір</p>
              </span>
            </button>
          </div>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="text-center text-semibold">Колір</th>
                <th class="text-center text-semibold">HEX</th>
                <th class="text-center text-semibold">Операції</th>
              </tr>
            </thead>
            <tbody>
              <ng-container
              *ngFor="let item of pageGeneration[pageNumber - 1]">
                <tr>
                  <td>{{ item.name }}</td>
                  <td style="display: flex; align-items: center;">
                    <div>{{ item.hexValue }}</div>
                    <div class="color-square" [style.background-color]="item.hexValue"></div>
                  </td>

                  <td class="text-center">
                    <button class="btn btn-sm btn-outline-secondary mr-1 btn-add ms-2" data-bs-toggle="modal"
                      data-bs-target="#colorModalUpdate" (click)="setEditedColor(item.id)">
                      Редагувати
                    </button>
                    <button class="btn btn-sm btn-outline-dark" (click)="deleteColor(item.id)">Видалити</button>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
      <div class="containerpagin mt-2 mx-auto">
        <app-pager [itemsPerPage]="pageSize" [totalCountItems]="colors.length"
          (pageChanged)="handlePageChange($event)"></app-pager>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="colorModal" tabindex="-1" aria-labelledby="colorModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="colorModalLabel">Додати колір</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input type="text" class="form-control mb-3" placeholder="Введіть новий колір" #newColorInput>
        <input type="text" class="form-control mb-3" placeholder="Введіть HEX значення" #newHexValue>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary text-dark" data-bs-dismiss="modal">Скасувати</button>
        <button type="button" class="btn btn-warning"  data-bs-dismiss="modal"
          (click)="addColor(newColorInput.value, newHexValue.value)">Підтвердити</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="colorModalUpdate" tabindex="-1" aria-labelledby="colorModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="colorModalLabel">Редагувати колір</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input type="text" class="form-control mb-3" placeholder="" #editedColorName>
        <input type="text" class="form-control mb-3" placeholder="" #editedHexValue>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary text-dark" data-bs-dismiss="modal">Скасувати</button>
        <button type="button" class="btn btn-warning"  data-bs-dismiss="modal"
          (click)="UpdateColor(editedColorName.value, editedHexValue.value)">Підтвердити</button>
      </div>
    </div>
  </div>
</div>
