<div class="container-fluid">
  <div class="row">
    <div class="col-md-3" style="width: 20%">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-md-9">
      <div class="container mt-4">
        <h2 class="mb-2 fs-2 text-semibold">Колір</h2>
        <hr class="border border-dark border-1 my-2 opacity-100">
        <app-adminsearchbar></app-adminsearchbar>
        <div class="alert alert-success mt-1" role="alert" *ngIf="showAlert">
          Дані успішно додані!
        </div>
        <div class="rounded p-3 shadow-xl mb-2">
          <div class="mb-2">
            <button type="button" class="btn btn-warning btn-add ms-2" data-bs-toggle="modal"
              data-bs-target="#colorModal">
              <span class="d-flex align-items-center ">
                <i class="fa-solid fa-plus" style="color: #2a2d32;"></i>
                <p class="ml-2"> Створити новий колір</p>
              </span>
            </button>
          </div>
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th class="text-center" style="width: 10%"></th>
                <th class="text-center text-semibold">Колір</th>
                <th class="text-center text-semibold">HEX</th>
                <th class="text-center" style="width: 10%"></th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let item of pageGeneration[pageNumber - 1]">
                <tr>
                  <td class="text-center">
                    <button class="btn btn-sm btn-outline-secondary mr-1 btn-add ms-2" data-bs-toggle="modal"
                      data-bs-target="#colorModalUpdate" (click)="setEditedColor(item.id)">
                      <i class="fa-solid fa-pen-fancy" style="color: #383839;"></i>
                    </button>
                  </td>
                  <td>{{ item.name }}</td>
                  <td style="display: flex; align-items: center;">
                    <div>{{ item.hexValue }}</div>
                    <div class="color-square" [style.background-color]="item.hexValue"></div>
                  </td>
                  <td>
                    <button type="button" class="btn btn-dark " data-bs-toggle="modal" data-bs-target="#deleteModal"
                      (click)="setEditedColor(item.id)">
                      <i class="fa-regular fa-trash-can" style="color: #000000;"></i></button>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
      <div class="containerpagin mt-2 mx-auto">
        <app-pager [itemsPerPage]="pageSize" [totalCountItems]="colors.length"
          (pageChanged)="handlePageChange($event)"></app-pager>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="colorModal" tabindex="-1" aria-labelledby="colorModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="colorModalLabel">Додати колір</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="colorForm" (ngSubmit)="addColor(colorForm.value.newColorName, colorForm.value.newHexValue)">
          <input type="text" class="form-control mb-3" placeholder="Введіть новий колір" formControlName="newColorName">
          <input type="text" class="form-control mb-3" placeholder="Введіть HEX значення" formControlName="newHexValue">
          <div *ngIf="colorForm.get('newColorName')?.invalid && colorForm.get('newColorName')?.touched"
            class="text-danger">
            Введіть назву колору
          </div>
          <div *ngIf="colorForm.get('newHexValue')?.invalid && colorForm.get('newHexValue')?.touched"
            class="text-danger">
            Введіть HEX значення
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary text-dark" data-bs-dismiss="modal">Скасувати</button>
        <button type="button" class="btn btn-warning" data-bs-dismiss="modal"
          (click)="addColor(colorForm.value.newColorName, colorForm.value.newHexValue)"
          [disabled]="colorForm.invalid">Підтвердити</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="colorModalUpdate" tabindex="-1" aria-labelledby="colorModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="colorModalLabel">Редагувати колір</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="editColorForm" (ngSubmit)="UpdateColor()">
          <input type="text" class="form-control mb-3" placeholder="" formControlName="editColorName">
          <input type="text" class="form-control mb-3" placeholder="" formControlName="editHexValue">
          <div
            *ngIf="editColorForm.get('editColorName')?.invalid && editColorForm.get('editColorName')?.touched && editColorForm.get('editHexValue')?.invalid && editColorForm.get('editHexValue')?.touched "
            class="text-danger">
            Відредагуйте колір
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary text-dark" data-bs-dismiss="modal">Скасувати</button>
        <button type="button" class="btn btn-warning" data-bs-dismiss="modal" (click)="UpdateColor()"
          [disabled]="editColorForm.invalid">Підтвердити</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Видалення</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Ви остаточно хочете видалити цей колір
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary text-dark" data-bs-dismiss="modal">Скасувати</button>
        <button type="button" class="btn btn-warning" data-bs-dismiss="modal"
          (click)="deleteColor()">Підтвердити</button>
      </div>
    </div>
  </div>
</div>
