<div class="container mt-4">
    <h2 class="mb-2 fs-2 text-semibold">Колір</h2>
    <hr class="">
    <app-adminsearchbar></app-adminsearchbar>

    <div class="rounded p-3 shadow-xl mb-2">
        <div class="mb-2">
            <button type="button" class="btn btn-warning btn-add ms-2" data-bs-toggle="modal"
                data-bs-target="#colorModal">
                <span class="d-flex align-items-center ">
                    <i class="fa-solid fa-plus" style="color: #2a2d32;"></i>
                    <p class="ml-2"> Створити новий колір</p>
                </span>
            </button>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="text-center text-semibold">Колір</th>
                    <th class="text-center text-semibold">HEX</th>
                    <th class="text-center text-semibold">Операції</th>
                </tr>
            </thead>
            <tbody>
                <ng-container
                    *ngFor="let item of colors.slice((currentPage-1)*pageSize, currentPage*pageSize); let i = index">
                    <tr>
                        <td>{{ item.name }}</td>
                        <td>{{ item.HexValue }}</td>
                        <td class="text-center">
                            <button class="btn btn-sm btn-outline-secondary mr-1 btn-add ms-2" data-bs-toggle="modal"
                                data-bs-target="#colorModalUpdate">
                                Редагувати
                            </button>
                            <div class="modal fade" id="colorModalUpdate" tabindex="-1" aria-labelledby="colorModalUpdateLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="colorModalUpdateLabel">Редагувати тип</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <input type="text" class="form-control mb-3" placeholder="Введіть новий тип" ngModel="editedTypeName">
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary text-dark" data-bs-dismiss="modal">Скасувати</button>
                                            <button type="button" class="btn btn-warning" >Підтвердити</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-sm btn-outline-dark" (click)="deleteColor(item.id)">Видалити</button>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</div>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item" [ngClass]="{'disabled': currentPage === 1}">
            <a class="page-link" aria-label="Previous" (click)="prevPage()">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item" *ngFor="let page of pages" [ngClass]="{'active': currentPage === page}">
            <a class="page-link" (click)="setCurrentPage(page)">{{ page }}</a>
        </li>
        <li class="page-item" [ngClass]="{'disabled': currentPage === totalPages}">
            <a class="page-link" aria-label="Next" (click)="nextPage()">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
<div class="modal fade" id="colorModal" tabindex="-1" aria-labelledby="colorModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="colorModalLabel">Додати колір</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="text" class="form-control mb-3" placeholder="Введіть новий колір" ngModel="newColorName">
                <!-- Input field for color name -->
                <input type="text" class="form-control mb-3" placeholder="Введіть HEX значення" ngModel="newHexValue">
                <!-- Input field for HEX value -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary text-dark" data-bs-dismiss="modal">Скасувати</button>
                <button type="button" class="btn btn-warning" (click)="addColor(newColorName, newHexValue)">Підтвердити</button>
            </div>
        </div>
    </div>
</div>


