<div class="container w-75 mx-auto mb-4">
  <h1 class="pr-6 pt-6 font-weight-medium text-black display-4">Додайте безкоштовно свою пропозицію</h1>
  <div class="container mx-auto mt-8">
    <div class="p-6 rounded-lg shadow">
      <form>
        <!-- Додайте інші поля форми тут -->
        <!-- Поле "Марка" -->
        <div class="mb-4">
          <label for="brand" class="form-label text-sm font-weight-medium text-gray-700">Марка</label>
          <div class="position-relative">
            <select id="brand" name="brand" class="mt-1 mb-4 form-select border border-gray-300 rounded-2xl shadow-sm"
              style="width: 200px;">
              <option>Марка 1</option>
              <option>Марка 2</option>
              <option>Марка 3</option>
            </select>
            <button type="button" class="position-absolute top-50 end-0 translate-middle-y btn btn-warning"
              data-bs-toggle="modal" data-bs-target="#brandModal" data-bs-whatever="@mdo">
              Створити свій варіант
            </button>
          </div>
        </div>
        <!-- Модальне вікно -->
        <button type="button" class="btn btn-primary" (click)="openModal(template)">Open modal</button>
        <br><br>
        <pre class="card card-block card-header" *ngFor="let message of messages">{{message}}</pre>
        <ng-template #template>
          <div class="modal-header">
            <h4 class="modal-title pull-left">Modal</h4>
            <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
              <span aria-hidden="true" class="visually-hidden">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            This is a modal
          </div>
        </ng-template>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Launch demo modal
        </button>

        <!-- Modal -->
        <!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                ...
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div> -->
        <!-- Repeat the above structure for other dropdowns -->
        <!-- Поле "Тип" -->
        <!-- Поле "Колір" -->
        <!-- Поле "Об'єм двигуна" -->
        <!-- Поле "Ціна" -->
      </form>
    </div>
  </div>
</div>