.always-visible {
  @apply bg-redy-800 opacity-100 w-sm;
}

ul {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: fit-content;
}

ul:empty{
  display: none;
}

ul:has(li:nth-child(5)) {
  max-height: none;
}

ul::-webkit-scrollbar{
  width: 8px;
}

ul::-webkit-scrollbar-track {
  @apply bg-redy-300;
}

ul::-webkit-scrollbar-thumb {
  @apply bg-redy-800;
}
