<div class="h-96 w-[100%] relative">
  <img
    src="assets/images/others/auto-hero-catalog.jpg"
    class="object-cover h-[100%] w-[100%] z-10"
  />
  <div class="absolute inset-x-0 inset-y-2/3">
    <div class="flex flex-col gap-2">
      <span class="self-center text-white text-2xl font-bold font-serif">
        FIND THE RIGHT CAR
      </span>
      <!--Search-->
      <div class="relative self-center border-none flex flex-row rounded-l rounded-r-2xl w-7/12 bg-white px-2">
        <div class="self-center">
          <svg
            class="w-[24px] h-[24px] text-gray-800 dark:text-white"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-width="1.6"
              d="m21 21-3.5-3.5M17 10a7 7 0 1 1-14 0 7 7 0 0 1 14 0Z"
            />
          </svg>
        </div>
        <input
          type="text"
          placeholder="Search"
          class="rounded w-full border-none focus:ring-0 focus:border-none"
        />
        <button
          class="absolute bg-rose-900 h-full text-white right-0 sm:w-2/12 min-w-24 rounded-r cursor-pointer"
        >
          Search
        </button>
      </div>
    </div>
  </div>
</div>
