@media (min-width: 300px) and (max-width: 320px) {
    .car-background {
        height: 72px;       
    }

    .car-background img {
        top: -72px;
    }
}

@media (min-width: 321px) and (max-width: 360px) {
    .car-background {
        height: 84px;       
    }

    .car-background img {
        top: -72px;
    }
}

@media (min-width: 361px) and (max-width: 440px) {
    .car-background {
        height: 100px;       
    }
}

@media (min-width: 441px) and (max-width: 639px) {
    .car-background {
        height: 160px;       
    }
}

@media (min-width: 0px) and (max-width: 480px){
    .underline-w-min {
        width: min-content;
    }
}