<form
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
  class="bg-kimberly-50 rounded-xl p-[14px] mb-[48px]"
>
  @if(formStage() === AddProductStages.start){
  <app-start-step [startGroup]="form.controls.startInfo"></app-start-step>
  } @if(formStage() === AddProductStages.additional){
  <app-additional-step
    [additionalGroup]="form.controls.additionalInfo"
  ></app-additional-step>
  } @if(formStage() === AddProductStages.firstRequest){
  <app-first-request-step
    [firstRequestGroup]="form.controls.firstRequestInfo"
  ></app-first-request-step>
  }
  <!--NAVIGATION BUTTONS-->
  <div class="flex flex-row items-center pt-base justify-between">
    <button
      type="button"
      class="flex flex-row gap-[10px] bg-transparent border border-portGore-950 text-portGore-950 border- px-[10px] py-[6px] rounded-[6px] transition-all duration-300 hover:bg-portGore-100"
      [class]="formStage() !== AddProductStages.start ? 'block' : 'hidden'"
      (click)="prevButtonClick.emit()"
    >
      <app-icon-outline-chevron-right
        [svgClass]="'size-[24px] rotate-180'"
      ></app-icon-outline-chevron-right>
      <span>Назад</span>
    </button>
    <!--PLUG-->
    <div></div>
    <!-- <button
      type="button"
      class="flex flex-row gap-[10px] bg-transparent border border-portGore-950 text-portGore-950 border- px-[10px] py-[6px] rounded-[6px] transition-all duration-300 hover:bg-redy-700 hover:text-kimberly-50 hover:border-transparent"
      [class]="formStage() === AddProductStages.start ? 'block' : 'hidden'"
      (click)="cancel.emit()"
    >
      <app-icon-exit-photo-form
        [svgClass]="'size-[24px]'"
      ></app-icon-exit-photo-form>
      <span>Повернутися назад</span>
    </button> -->
    <button
      type="button"
      class="flex flex-row gap-[10px] bg-portGore-950 text-kimberly-50 px-[11px] py-[7px] rounded-[6px] transition-all duration-300 hover:bg-portGore-700"
      (click)="handleNextButtonClick()"
      [class]="
        formStage() !== AddProductStages.firstRequest ? 'block' : 'hidden'
      "
    >
      <span class="capitalize">Перейти далі</span>
      <app-icon-outline-chevron-right
        [svgClass]="'size-[24px]'"
      ></app-icon-outline-chevron-right>
    </button>
    <button
      type="submit"
      class="flex flex-row items-center gap-[10px] bg-portGore-950 text-kimberly-50 px-[11px] py-[7px] rounded-[6px] transition-all duration-300 hover:bg-portGore-700"
      [class]="
        formStage() === AddProductStages.firstRequest ? 'block' : 'hidden'
      "
    >
      <span>Створити оголошення</span>
      <app-icon-outline-check
        [svgClass]="'size-[24px]'"
      ></app-icon-outline-check>
    </button>
  </div>
</form>
<!-- <div>
  {{ form.value | json }}
</div> -->
