<form
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
  class="bg-kimberly-50 rounded-xl p-[14px]"
>
  @if(formStage() === AddProductStages.start){
  <app-start-step
  [startGroup]="form.controls.startInfo"
  ></app-start-step>
  } @if(formStage() === AddProductStages.additional){
  <app-additional-step></app-additional-step>
  } @if(formStage() === AddProductStages.firstRequest){
  <app-first-request-step></app-first-request-step>
  }
  <!--NAVIGATION BUTTONS-->
  <div
    class="flex flex-row items-center pt-base"
    [class]="
      formStage() === AddProductStages.start ? 'justify-end' : 'justify-between'
    "
  >
    <button
      type="button"
      class="flex flex-row gap-[10px] bg-transparent border border-portGore-950 text-portGore-950 border- px-[10px] py-[6px] rounded-[6px] transition-all duration-300 hover:bg-portGore-100"
      [class]="formStage() !== AddProductStages.start ? 'block' : 'hidden'"
      (click)="prevButtonClick.emit()"
    >
      <app-icon-outline-chevron-right
        [svgClass]="'size-[24px] rotate-180'"
      ></app-icon-outline-chevron-right>
      <span>Назад</span>
    </button>
    <button
      type="button"
      class="flex flex-row gap-[10px] bg-portGore-950 text-kimberly-50 px-[10px] py-[6px] rounded-[6px] transition-all duration-300 hover:bg-portGore-700"
      (click)="handleNextButtonClick()"
      [class]="
        formStage() !== AddProductStages.firstRequest
          ? 'block'
          : 'hidden'
      "
    >
      <span>Далі</span>
      <app-icon-outline-chevron-right
        [svgClass]="'size-[24px]'"
      ></app-icon-outline-chevron-right>
    </button>
    <button
      type="submit"
      class="flex flex-row items-center gap-[10px] bg-portGore-950 text-kimberly-50 px-[10px] py-[6px] rounded-[6px] transition-all duration-300 hover:bg-portGore-700"
      [class]="formStage() === AddProductStages.firstRequest ? 'block' : 'hidden'"
      (click)="saveButtonClick.emit()"
    >
      <span>Створити оголошення</span>
      <app-icon-outline-check
        [svgClass]="'size-[24px]'"
      ></app-icon-outline-check>
    </button>
  </div>
</form>
<div>
  {{ form.value | json }}
</div>