<div class="mb-4 mt-8">
  <span class="text-4xl font-semibold"
    >Додайте безкоштовно пропозицію на LanosSertifiedStore</span
  >
</div>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <section class="main_details">
    <div class="optionSection">
      <label
        class="mb-1"
        [ngStyle]="{
          color:
            this.formSubmitted && this.form.get('types')?.invalid
              ? 'red'
              : 'black'
        }"
      >
        Категорія
        <ng-container *ngIf="vehicleParams.typeName; else elseBlock">
          <i class="fa-solid fa-xs fa-check"></i>
        </ng-container>
        <ng-template #elseBlock>
          {{ "*" }}
        </ng-template>
      </label>
      <app-dropdown-typeahead
        [options]="types"
        type="Type"
        (selectedOptionChange)="handleSelectedOptionChange($event)"
        formControlName="types"
      ></app-dropdown-typeahead>
    </div>

    <div class="optionSection">
      <label
        class="mb-1"
        [ngStyle]="{
          color:
            this.formSubmitted && this.form.get('brands')?.invalid
              ? 'red'
              : 'black'
        }"
        >Виробник
        <ng-container *ngIf="vehicleParams.brandName; else elseBlock">
          <i class="fa-solid fa-xs fa-check"></i>
        </ng-container>
        <ng-template #elseBlock>
          {{ "*" }}
        </ng-template></label
      >
      <app-dropdown-typeahead
        [options]="brands"
        type="Brand"
        (selectedOptionChange)="handleSelectedOptionChange($event)"
        formControlName="brands"
      ></app-dropdown-typeahead>
    </div>

    <div class="d-flex flex-row gap-3 optionSection">
      <div class="optionSectionSrhinked w-50">
        <label class="mb-1"
          >Модель
          <ng-container *ngIf="vehicleParams.modelName; else elseBlock">
            <i class="fa-solid fa-xs fa-check"></i>
          </ng-container>
          <ng-template #elseBlock>
            {{ "*" }}
          </ng-template></label
        >
        <app-dropdown-typeahead
          [options]="models"
          type="Model"
          (selectedOptionChange)="handleSelectedOptionChange($event)"
          formControlName="models"
        ></app-dropdown-typeahead>
      </div>
      <div class="optionSectionSrhinked w-50">
        <label class="mb-1"
          >Рік випуску
          <ng-container *ngIf="vehicleParams.year; else elseBlock">
            <i class="fa-solid fa-xs fa-check"></i>
          </ng-container>
          <ng-template #elseBlock>
            {{ "*" }}
          </ng-template></label
        >
        <app-dropdown-typeahead
          [options]="years"
          type="year"
          (selectedOptionChange)="handleSelectedOptionChange($event)"
          formControlName="years"
        ></app-dropdown-typeahead>
      </div>
    </div>

    <div class="optionSection">
      <label class="mb-1"
          >Колір
          <ng-container *ngIf="vehicleParams.colorName; else elseBlock">
            <i class="fa-solid fa-xs fa-check"></i>
          </ng-container>
          <ng-template #elseBlock>
            {{ "*" }}
          </ng-template></label
        >
        <app-dropdown-typeahead
          [options]="colors"
          type="Color"
          (selectedOptionChange)="handleSelectedOptionChange($event)"
          formControlName="colors"
        ></app-dropdown-typeahead>
    </div>

    <div class="d-flex flex-row gap-3 optionSection">
      <div class="optionSectionSrhinked w-50">
        <label class="mb-1"
          >Область
          <ng-container *ngIf="vehicleParams.modelName; else elseBlock">
            <i class="fa-solid fa-xs fa-check"></i>
          </ng-container>
          <ng-template #elseBlock>
            {{ "*" }}
          </ng-template></label
        >
        <app-dropdown-typeahead
          [options]="models"
          type="Model"
          (selectedOptionChange)="handleSelectedOptionChange($event)"
          formControlName="models"
        ></app-dropdown-typeahead>
      </div>
      <div class="optionSectionSrhinked w-50">
        <label class="mb-1"
          >Місто
          <ng-container *ngIf="vehicleParams.year; else elseBlock">
            <i class="fa-solid fa-xs fa-check"></i>
          </ng-container>
          <ng-template #elseBlock>
            {{ "*" }}
          </ng-template></label
        >
        <app-dropdown-typeahead
          [options]="years"
          type="year"
          (selectedOptionChange)="handleSelectedOptionChange($event)"
          formControlName="years"
        ></app-dropdown-typeahead>
      </div>
    </div>
  </section>
  <section class="user_details d-flex flex-column p-4">
    <label for="price" class="mb-1">Ціна {{ "*" }}</label>
    <app-input-regular
      name="price"
      placeholder="Ціна"
      class="mb-4"
    ></app-input-regular>

    <label for="price" class="mb-1">Об'єм двигуна {{ "*" }}</label>
    <app-input-regular
      name="price"
      placeholder="Об'єм двигуна"
      class="mb-4"
    ></app-input-regular>

    <label class="mb-1">Опис пропозиції (українською)</label>

    <ng-container *ngIf="form.get('editorContent')?.hasError('minlength') && formSubmitted">
      <span style="color: red;">Ваш текст повинен бути не менше 30 літер</span>
    </ng-container>

    <div class="NgxEditor__Wrapper">
      <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"> </ngx-editor-menu>
      <ngx-editor [editor]="editor" formControlName="editorContent"> </ngx-editor>
    </div>

  </section>

  <section class="user_decisions">
    <button>Перейти до наступного етапу</button>
    <div class="undoButton" routerLink="/">
      <span>Відмінити</span>
    </div>
  </section>
</form>
