/* Збільшуємо розмір шрифту та змінюємо колір тексту */
datalist option {
    font-size: 16px;
    color: #fafc86;
  }
  
  /* Змінюємо фон та колір тексту для активного елемента */
  datalist option:checked {
    background-color: #007bff;
    color: #fff;
  }
  