<div
  class="container"
  *ngIf="!isLoginPage() && !isRegisterPage() && !isDashboardPage() && !isTestErrorsPage()"
>
  <app-header></app-header>
  <app-section-header></app-section-header>
  <router-outlet></router-outlet>
  
</div>

<!-- <div *ngIf="accountService.currentUserSig() === null">
  <a routerLink="/account/login" class="p-5 bg-dark text-bg-danger">Login</a>
  <a routerLink="/account/register" class="p-5 bg-dark text-bg-danger"
    >Sign Up</a
  >
</div> -->
<router-outlet *ngIf="isDashboardPage() || isTestErrorsPage()" ></router-outlet>

<app-footer
  *ngIf="!isLoginPage() && !isRegisterPage() && !isDashboardPage() && !isTestErrorsPage()"
></app-footer>
