<section class="container mx-auto pt-[60px] xl:pt-[90px] pb-[60px]">
  <div class="text-center mb-[40px]">
    <span class="text-portGore-700 text-lg block pb-[12px]"
      >Допоможемо тобі знайти підходящу машину</span
    >
    <div>
      <span class="text-portGore-700 font-medium text-[32px]">Обери Свій </span>
      <span class="text-redy-800 font-medium text-[32px]">Тип</span>
    </div>
  </div>

  <ul class="bypassJerkingOfOtherElements flex flex-row flex-wrap justify-center items-center gap-base mb-[36px] mt-[2px]">
    @for(bodyType of filteredBodyTypes; track bodyType; let i = $index) {
    <li
      class="text-portGore-700 text-lg cursor-pointer hover:scale-105 transition-all duration-75 outline-none border-b-2 border-portGore-50"
      [ngClass]="{
        'text-redy-800 scale-105 border-redy-800 rounded-sm': selectedBodyTypeIndex === $index
      }"
      (click)="handleTypeClick(bodyType, i)"
    >
      {{ bodyType.name }}
    </li>

    } @empty { Помилка! }
  </ul>
 <app-slider-default [vehicles]="vehicles"></app-slider-default>
</section>
