<div class="flex flex-row gap-[12px]">
  <!--PREVIOUS BUTTON-->
  <button
    [disabled]="this.currentPage === 1"
    [ngClass]="{
      '!bg-portGore-300 !opacity-85 hover:!bg-portGore-300 hover:!opacity-85':
        this.currentPage === 1
    }"
    class="py-xs px-[6px] cursor-pointer transition-all duration-300 bg-portGore-500 opacity-90 hover:bg-portGore-900 hover:opacity-100 rounded"
    (click)="onChangePageButtonClick('previous')"
  >
    <kolesko-icon
      class="text-kimberly-50"
      innerClass="rotate-180"
      [size]="24"
    ></kolesko-icon>
  </button>
  <!--PAGES-->
  <ul class="flex flex-row gap-sm">
    @for(page of pageNumbers(); track $index) { @if($index <= 4) {
    <li
      class="transition-all duration-300 py-xs px-[12px] border-[2px] border-portGore-600 bg-transparent cursor-pointer bg-portGore-400 opacity-90 hover:bg-portGore-900 hover:opacity-100 hover:text-kimberly-50 rounded"
      [class.active]="currentPage === $index + 1"
      (click)="onPageChange($index)"
    >
      {{ page }}
    </li>
    }@else if($index + 1 === 6 && pageNumbers.length > 7){
    <li class="h-full px-[10px] bg-transparent text-portGore-950 rounded flex">
      <span class="mt-auto text-xl"> {{ "..." }}</span>
    </li>
    }@else if($index === pageNumbers.length - 1){
    <li
      class="transition-all duration-300 py-xs px-[12px] border-[2px] border-portGore-600 bg-transparent cursor-pointer bg-portGore-400 opacity-90 hover:bg-portGore-900 hover:opacity-100 hover:text-kimberly-50 rounded"
    >
      {{ page }}
    </li>
    } }
  </ul>
  <!--NEXT BUTTON-->
  <button
    [disabled]="this.currentPage === this.totalPages()"
    [ngClass]="{
      '!bg-portGore-300 !opacity-85 hover:!bg-portGore-300 hover:!opacity-85':
        this.currentPage === this.totalPages()
    }"
    class="transition-all duration-300 py-xs px-[6px] cursor-pointer bg-portGore-500 opacity-90 hover:bg-portGore-900 hover:opacity-100 rounded"
    (click)="onChangePageButtonClick('next')"
  >
    <kolesko-icon class="text-kimberly-50" [size]="24"></kolesko-icon>
  </button>
</div>
