@if(vehicles) {
<div class="relative w-full rounded !overflow-clip">
  <!--Arrows-->
  <div class="flex flex-row justify-between absolute h-full top-[5%] right-0 z-50">
    <!-- <button
      class="hidden size-xl absolute left-[6px] bg-transparent justify-center items-center scale-110"
    >
      <kolesko-icon
        name="outline-chevron-left"
        class="text-portGore-950"
      ></kolesko-icon>
    </button> -->
    <button
      (click)="nextSlide()"
      class="size-xl absolute right-[0px] h-[90%] bg-transparent flex justify-center items-center  scale-110 hover:scale-125 transition-all duration-300 hover:-translate-x-[6px]"
    >
      <kolesko-icon
        name="outline-chevron-right"
        class="text-portGore-950 relative -right-[4px] scale-125"
      ></kolesko-icon>
    </button>
  </div>
  <div id="slider-other-products" class="splide w-full">
    <div class="splide__track">
      <ul class="splide__list">
        @for(vehicle of vehicles; track vehicle.id) {
        <li
          class="splide__slide h-fit bg-kimberly-50 !overflow-hidden cursor-pointer border-2 border-opacity-0 hover:border-portGore-950 hover:border-opacity-100 rounded-md"
          (click)="goToVehicleProductPage(vehicle)"
        >
          <div class="h-[160px] !overflow-clip">
            <img
              [src]="vehicle.mainImageUrl"
              (error)="handleImageError($event, vehicle)"
              alt="Main Image"
              class="w-full h-full object-cover"
            />
          </div>
          <div class="flex h-[44%] flex-col px-[12px] mt-[12px]">
            <div
              class="flex flex-row justify-between font-medium text-lg text-[#000000] mb-[14px]"
            >
              <span class="line-clamp-1">{{
                vehicle.fullName | uppercase
              }}</span>
              <div>
                <span>{{ vehicle.price | number : "0.0" }}</span>
                <span class="">{{ "$" }}</span>
              </div>
            </div>
            <!--Chips (change the name in the future!!!)-->
            <div
              class="inline-flex flex-row flex-wrap overflow-hidden max-h-[60px] gap-sm mb-[10px]"
            >
              <!--1-->
              <div
                class="flex flex-row items-center w-fit py-xs px-sm rounded gap-xs bg-kimberly-100 text-sm max-w-[120px]"
              >
                <kolesko-icon
                  class="text-transparent"
                  src="assets/icons/features/catalog/vehicle_icons/ion_car-sport-outline.svg"
                ></kolesko-icon>
                <span>{{ vehicle.mileage | number : "0.0" }}км</span>
              </div>
              <!--2-->
              <div
                class="flex flex-row items-center w-fit py-xs px-sm rounded gap-xs bg-kimberly-100 text-sm max-w-[120px]"
              >
                <kolesko-icon
                  class="text-transparent"
                  src="assets/icons/features/catalog/vehicle_icons/lucide_fuel.svg"
                ></kolesko-icon>
                <span class="truncate">{{ vehicle.engineType }}</span>
              </div>
              <!--3-->
              <div
                class="flex flex-row items-center w-fit py-xs px-sm rounded gap-xs bg-kimberly-100 text-sm max-w-[120px]"
              >
                <kolesko-icon
                  class="text-transparent"
                  src="assets/icons/features/catalog/vehicle_icons/map-pin.svg"
                ></kolesko-icon>
                <span>{{ vehicle.locationTownName }}</span>
              </div>
              <!--4-->
              <div
                class="flex flex-row items-center w-fit py-xs px-sm gap-xs rounded bg-kimberly-100 text-sm max-w-[120px]"
              >
                <kolesko-icon
                  class="text-portGore-700"
                  src="assets/icons/features/catalog/vehicle_icons/mdi_engine-outline.svg"
                ></kolesko-icon>
                <span>{{ vehicle.displacement }}л</span>
              </div>
              <!--5-->
              <div
                class="flex flex-row items-center w-fit py-xs px-sm rounded gap-xs bg-kimberly-100 text-sm max-w-[120px]"
              >
                <kolesko-icon
                  class="text-transparent"
                  src="assets/icons/features/catalog/vehicle_icons/tabler_manual-gearbox.svg"
                ></kolesko-icon>
                <span>{{ vehicle.bodyType }}</span>
              </div>
            </div>

            <div
              class="flex flex-row justify-end items-center my-auto pb-[8px]"
            >
              <kolesko-icon
                name="email-c"
                class="cursor-pointer inline-block p-xs text-portGore-500 transition-all duration-200 hover:text-portGore-700"
                [size]="24"
              ></kolesko-icon>
              <kolesko-icon
                name="phone-c"
                class="cursor-pointer inline-block p-xs text-transparent stroke-portGore-700 transition-all duration-200 hover:text-portGore-500"
                [size]="24"
              ></kolesko-icon>
              <kolesko-icon
                name="bookmark-c"
                class="cursor-pointer inline-block p-xs text-portGore-500 transition-all duration-200 hover:text-portGore-700"
                [size]="24"
              ></kolesko-icon>
            </div>
          </div>
        </li>
        }
      </ul>
    </div>
  </div>
  <!-- Blur on the right side -->
  <div
    class="absolute top-0 right-0 h-full w-[240px] pointer-events-none opacity-70 z-10 bg-gradient-to-l from-[rgba(255,255,255,1)] to-[rgba(255,255,255,0)]"
  ></div>
</div>
} @else {
<div>Проблеми в API. Спробуйте перезапустити сторінку</div>
}
