<div class="bg-yellow-500">
  <span class="text-2xl">Lanos Certified Cars</span>
  <div class="flex flex-row justify-between gap-2">
    <!--Info cars and sorting-->
    <div class="inline-flex flex-row gap-2">
      <span>10023313 results</span>
      <span>|</span>
      <div class="flex flex-row gap-1">
        <span>Newest ad</span>
        <div>icon</div>
      </div>
    </div>

    <!--Pagination-->
    <div>
        <span>Paginationasdaskljdkashjdkasgdaskghjgkhas</span>
    </div>
  </div>
</div>
