<div class="flex flex-col" style="height: 25px">
  <div>
    <span>Сільгоcптехніка</span>
    <span> > </span>
    <span> Пошук </span>
  </div>
</div>
<div class="text-lg font-bold mt-2">
  <span *ngIf="totalCountItems"
    >Пошук машини -
    <span *ngIf="totalCountItems > 1">{{ totalCountItems }} пропозицій</span>
    <span *ngIf="totalCountItems == 1">{{ totalCountItems }} пропозиція</span>
  </span>
  <span *ngIf="totalCountItems == 0"
    >Не має жодних пропозицій з таким запитом. Спробуйте наступного
    разу!!!</span
  >
</div>

<!--Change view and Chips-->
<div class="d-flex flex-row gap-2 mb-2">
  <!--Chips-->
  <div class="d-flex flex-row gap-2 mr-auto mt-4 chipGroup">
    <span
      *ngIf="
        catalogParams.typeName != '' ||
        catalogParams.brandName != '' ||
        catalogParams.colorName != '' ||
        catalogParams.modelName != ''
      "
      (click)="onCancelClick()"
      class="chip cancelChip"
      >Скасувати</span
    >
    <span
      *ngIf="catalogParams.typeName != ''"
      class="chip"
      (click)="onChipClick('type')"
      >{{ catalogParams.typeName }}</span
    >
    <span
      *ngIf="catalogParams.brandName != ''"
      class="chip"
      (click)="onChipClick('brand')"
      >{{ catalogParams.brandName }}</span
    >
    <span
      *ngIf="catalogParams.modelName != ''"
      class="chip"
      (click)="onChipClick('model')"
      >{{ catalogParams.modelName }}</span
    >
    <span
      *ngIf="catalogParams.colorName != ''"
      class="chip"
      (click)="onChipClick('color')"
      >{{ catalogParams.colorName }}</span
    >
  </div>
  <!--Change View and Sorting-->
  <app-sort-select-type
    class="mr-2 mt-auto"
    [types]="sortTypes"
    (selectedSortTypeChange)="handleSelectedSortTypeChange($event)"
  ></app-sort-select-type>
  <app-change-view-grid
    class="mt-auto"
    (selectedViewTypeChange)="handleSelectedViewChange($event)"
  ></app-change-view-grid>
</div>

<mat-divider class="my-2"></mat-divider>

<!--Main-->
<div class="row">
  <!--Filters-->
  <section class="col-3">
    <div class="flex flex-col gap-4">
      <app-option-select-item
        [options]="types"
        (selectedOptionChange)="handleSelectedOptionChange($event)"
        (selectedOptionAll)="handleSelectedOptionUndo($event)"
      ></app-option-select-item>

      <app-option-select-item
        [options]="brands"
        (selectedOptionChange)="handleSelectedOptionChange($event)"
        (selectedOptionAll)="handleSelectedOptionUndo($event)"
      ></app-option-select-item>

      <app-option-select-model *ngIf="testFuntionalityVariable"
        [options]="models"
        (selectedOptionChange)="handleSelectedOptionChange($event)"
        (selectedOptionAll)="handleSelectedOptionUndo($event)"
      ></app-option-select-model>

      <app-option-select-item
        [options]="colors"
        (selectedOptionChange)="handleSelectedOptionChange($event)"
        (selectedOptionAll)="handleSelectedOptionUndo($event)"
      ></app-option-select-item>

      

      <div class="double-slider-box d-flex flex-col gap-[6px] mr-8">
        <span class="range-title">Вартість</span>
        <div class="input-box d-flex flex-row gap-2">
          <div class="input-wrap">
            <input
              placeholder="{{ catalogParams.lowerPriceLimit }}"
              type="text"
              name="price_input_min"
              #price_input_min
              (keyup.enter)="changePriceLowerLimit($event)"
            />
          </div>
          <div class="input-wrap">
            <input
              placeholder="{{ catalogParams.upperPriceLimit }}"
              type="text"
              name="price_input_max"
              #price_input_max
              (keyup.enter)="changePriceUpperLimit($event)"
            />
          </div>
        </div>

        <div class="range-slider">
          <span class="slider-track" #slider_track></span>
          <input
            type="range"
            name="min_val"
            class="min_val"
            min="{{ 0 }}"
            max="{{ 100000 }}"
            value="{{ catalogParams.lowerPriceLimit }}"
            #min_val
            (input)="slideMin()"
          />
          <input
            type="range"
            name="max_val"
            class="max_val"
            min="{{ 0 }}"
            max="{{ 100000 }}"
            value="{{ catalogParams.upperPriceLimit }}"
            #max_val
            (input)="slideMax()"
          />
        </div>
      </div>

      <div class="mr-8">
        <app-date-picker
          [minimalPriceDate]="catalogParams.minimalPriceDate"
          (minimalPriceDateChange)="handleMinimalDateChange($event)"
        ></app-date-picker>
      </div>
    </div>
  </section>

  <!--Car items and paginations-->
  <section class="col-9">
    <div class="mb-4">
      <div class="row" [ngClass]="'row-cols-' + columnCount">
        <div class="col" *ngFor="let vehicle of vehicles">
          <app-car-item-component [vehicle]="vehicle"></app-car-item-component>
        </div>
      </div>
    </div>

    <app-pagination
      [totalCountItems]="totalCountItems"
      [pageNumber]="catalogParams.pageNumber"
      [itemsPerPage]="catalogParams.pageSize"
      (pageNumberChange)="handlePageNumberChange($event)"
      (pageSizeChange)="handlePageSizeChange($event)"
    ></app-pagination>
  </section>
</div>
