<div class="flex flex-col" style="height: 25px">
  <div>
    <span>Сільгоcптехніка</span>
    <span> > </span>
    <span> Пошук </span>
  </div>
</div>
<div class="text-lg font-bold mt-2">
  <span *ngIf="totalCountItems"
    >Пошук машини -
    <span *ngIf="totalCountItems > 1">{{ totalCountItems }} пропозицій</span>
    <span *ngIf="totalCountItems == 1">{{ totalCountItems }} пропозиція</span>
  </span>
  <span *ngIf="totalCountItems == 0"
    >Не має жодних пропозицій з таким запитом. Спробуйте наступного
    разу!!!</span
  >
</div>

<!--Change view and Chips-->
<div class="d-flex flex-row gap-2 mb-2">
  <div class="d-flex flex-row gap-2 mr-auto mt-4 chipGroup">
    <span class="chip cancelChip">Скасувати</span>
    <span class="chip">type</span>
    <span class="chip">brand</span>
    <span class="chip">model</span>
    <span class="chip">color</span>
  </div>
  <app-sort-select-type
    class="mr-2 mt-auto"
    [types]="sortTypes"
    (selectedSortTypeChange)="handleSelectedSortTypeChange($event)"
  ></app-sort-select-type>
  <app-change-view-grid class="mt-auto"
    (selectedViewTypeChange)="handleSelectedViewChange($event)"
  ></app-change-view-grid>
</div>

<mat-divider class="my-2"></mat-divider>

<!--Main-->
<div class="row">
  <!--Filters-->
  <section class="col-3">
    <div class="flex flex-col gap-4">
      <app-option-select-item
        [options]="types"
        (selectedOptionChange)="handleSelectedOptionChange($event)"
        (selectedOptionAll)="handleSelectedOptionUndo($event)"
      ></app-option-select-item>

      <app-option-select-item
        [options]="brands"
        (selectedOptionChange)="handleSelectedOptionChange($event)"
        (selectedOptionAll)="handleSelectedOptionUndo($event)"
      ></app-option-select-item>

      <app-option-select-item
        [options]="colors"
        (selectedOptionChange)="handleSelectedOptionChange($event)"
        (selectedOptionAll)="handleSelectedOptionUndo($event)"
      ></app-option-select-item>

      <div class="d-flex flex-col gap-[6px]">
        <span>Вартість</span>
        <div class="d-flex flex-row gap-2 mr-8">
          <input
            placeholder="Від"
            type="text"
            (keyup.enter)="changePriceLowerLimit($event)"
          />
          <input
            placeholder="До"
            type="text"
            (keyup.enter)="changePriceUpperLimit($event)"
          />
        </div>
      </div>

      <div class="mr-8">
        <mat-form-field class="w-full">
          <mat-label>Choose a date</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            (keyup.enter)="onMinimalDateEnter($event)"
          />
          <mat-hint
            >{{ catalogParams.minimalPriceDate.getMonth() }}<span>/</span
            >{{ catalogParams.minimalPriceDate.getDay() }}<span>/</span
            >{{ catalogParams.minimalPriceDate.getFullYear() }}</mat-hint
          >
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
  </section>

  <!--Car items and paginations-->
  <section class="col-9">
    <div class="mb-4">
      <div class="row" [ngClass]="'row-cols-' + columnCount">
        <div class="col" *ngFor="let vehicle of vehicles">
          <app-car-item-component [vehicle]="vehicle"></app-car-item-component>
        </div>
      </div>
    </div>

    <app-pagination
      [totalCountItems]="totalCountItems"
      [pageNumber]="catalogParams.pageNumber"
      [itemsPerPage]="catalogParams.pageSize"
      (pageNumberChange)="handlePageNumberChange($event)"
      (pageSizeChange)="handlePageSizeChange($event)"
    ></app-pagination>
  </section>
</div>
