input{
  border: 2px solid #acabab;
  border-radius: 12px;
  width: 50%;
}

input:hover{
  border-color: rgb(117, 117, 117);
}

input:focus{
  border-color: rgb(0, 0, 0);
  box-shadow: none;
}

.pageSizeInput {
  height: 25px;
  width: 100%;
  border-color: transparent;
  border-bottom: 2px solid black;
  box-shadow: none;
  cursor: pointer;
}

.pageSizeInput:focus {
  color: #495057;
  background-color: #fff;

  border-color: black;
  outline: none;
  box-shadow: none;
  /* Specify the border properties along with box-shadow */
  border-style: solid;
}

.form-fields-container mat-form-field{
    margin: 0;
    padding: 0;

    width: 100%;
    margin-bottom: 10px;
}

.chipGroup .chip{
  padding: 6px 12px;
  font-size: medium;
  background-color: transparent;
  color: black;
  border: 1px solid black;
  border-radius: 18px;
  transition: 0.15s;
  cursor: pointer;
}

.chipGroup .chip:hover{
  background-color: rgb(204, 202, 202);
}


.chipGroup .cancelChip{
  border-color: rgb(221, 163, 163);
  transition: 0.25s ease;
}

.chipGroup .cancelChip:hover{
  background-color: rgb(228, 128, 128);
  color: white;
}


.checkmark {
  background-color: white;
  width: 25px;
  height: 25px;
  border: 1px solid rgb(87, 87, 87);
  display: block;
  position: relative;
  border-radius: 16px;
}

.show-checkmark {
  position: absolute;
  height: 16px;
  width: 16px;
  top: 50%;
  left: 50%;
  background-color: rgb(61, 61, 61);
  border-radius: 100%;
  /* Make it a circle */
  transform: translate(-50%, -50%);
}



