<nav>
  <div class="bg-white drop-shadow-2xl fixed z-50 w-full">
    <div class="container mx-auto flex flex-row px-6 py-1.5 gap-4">
      <div>
        <a routerLink="/">
          <img
            src="assets/images/Logo.svg"
            class="h-12 w-12 cursor-pointer"
            alt="..."
          />
        </a>
      </div>
      <!--Search and Icons-->
      <div class="ml-auto relative self-center border-none w-full">
        <input type="text" placeholder="Search" class="rounded w-full" />
        <div class="absolute top-2 right-2 cursor-pointer">
          <svg
            class="w-[28px] h-[24px] text-gray-800 dark:text-white"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-width="1.6"
              d="m21 21-3.5-3.5M17 10a7 7 0 1 1-14 0 7 7 0 0 1 14 0Z"
            />
          </svg>
        </div>
      </div>

      <!--Other icons-->
      <div #translate class="self-center cursor-pointer">
        <img src="assets/images/language.png" class="h-7 w-7" alt="..." />
      </div>
      <div #profile class="self-center cursor-pointer">
        <img src="assets/images/user.png" class="h-7 w-7" alt="..." />
      </div>
    </div>
  </div>
</nav>
