<app-homepagebanner></app-homepagebanner>
<app-searchbar></app-searchbar>
<h2 class="text-2xl pl-8 font-bold mt-4 mb-3">Каталог техніки</h2>
<app-tilehomepage [data]="types" (tileClickEvent)="handleTileClick($event)"></app-tilehomepage>
<h2 class="text-2xl pl-8 font-bold mt-4 mb-3">Найновіші пропозиції</h2>
<app-cards [vehicles]="vehicles" (lookMoreEvent)="handleLookMore($event)"></app-cards>
<h2 class="text-2xl pl-8 font-bold mt-4 mb-3">ТОП Виробнки</h2>
<app-tilehomepage [data]="brands" (tileClickEvent)="handleTileClick($event)"></app-tilehomepage>
