<h1 class="text-center font-mono font-black text-4xl bg-green-950">
  Hello Nastya!

</h1>

<div class="w-100 h-100 bg-slate-600">
  Hello
</div>

<div class="w-100 h-100 bg-slate-600">
  Hello
</div>
<div class="w-100 h-100 bg-slate-600">
  Hello
</div>
<div class="w-100 h-100 bg-slate-600">
  Hello
</div>
<div class="w-100 h-100 bg-slate-600">
  Hello
</div>
<div class="w-100 h-100 bg-slate-600">
  Hello
</div>
<div class="w-100 h-100 bg-slate-600">
  Hello
</div>
<div class="w-100 h-100 bg-slate-600">
  Hello
</div><div class="w-100 h-100 bg-slate-600">
  Hello
</div>
<div class="w-100 h-100 bg-slate-600">
  Hello
</div>

<div class="w-100 h-100 bg-slate-600">
  Hello
</div>
<div class="w-100 h-100 bg-slate-600">
  Hello
</div><div class="w-100 h-100 bg-slate-600">
  Hello
</div><div class="w-100 h-100 bg-slate-600">
  Hello
</div>

<div class="w-100 h-100 bg-slate-600">
  Hello
</div><div class="w-100 h-100 bg-slate-600">
  Hello
</div>
<div class="w-100 h-100 bg-slate-600">
  Hello
</div>
<div class="w-100 h-100 bg-slate-600">
  Hello
</div>

<div class="w-100 h-100 bg-slate-600">
  Hello
</div>
<div class="w-100 h-100 bg-slate-600">
  Hello
</div>


<div class="w-100 h-100 bg-slate-600">
  Hello
</div>
<div class="w-100 h-100 bg-slate-600">
  Hello
</div>
<div class="w-100 h-100 bg-slate-600">
  Hello
</div>
<div class="w-100 h-100 bg-slate-600">
  Hello
</div>
<div class="w-100 h-100 bg-slate-600">
  Hello
</div>

<div class="w-100 h-100 bg-slate-600">
  Hello
</div>
<div class="w-100 h-100 bg-slate-600">
  Hello
</div>
<div class="w-100 h-100 bg-slate-600">
  Hello
</div>
<div class="w-100 h-100 bg-slate-600">
  Hello
</div>
<div class="w-100 h-100 bg-slate-600">
  Hello
</div>
<div class="w-100 h-100 bg-slate-600">
  Hello
</div>