<div class="flex flex-col">
  <app-contact-form-section></app-contact-form-section>
  <app-hero-section></app-hero-section>
  <app-type-exhibit-section [vehicles]="vehicles"></app-type-exhibit-section>
  <div class="bg-portGore-700">
    <app-top-propositions-section
      [vehicles]="vehicles"
    ></app-top-propositions-section>
  </div>
  <app-ad-block-section></app-ad-block-section>

  <div class="bg-portGore-700 min-h-[572px]">
    <app-advanced-search></app-advanced-search>
  </div>
</div>
