<div class="container-fluid">
    <div class="row">
        <div class="col-md-3" style="width: 20%">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-md-9">
            <div class="container mt-4">
                <h2 class="mb-2 fs-2 text-semibold">Тип</h2>
                <hr class="border border-dark border-1 my-2 opacity-100">
                <app-adminsearchbar></app-adminsearchbar>

                <div class="rounded p-3 shadow-xl mb-2">
                    <div class="mb-2">
                        <button type="button" class="btn btn-warning btn-add ms-2" data-bs-toggle="modal"
                            data-bs-target="#typeModal">
                            <span class="d-flex align-items-center ">
                                <i class="fa-solid fa-plus" style="color: #2a2d32;"></i>
                                <p class="ml-2"> Створити новий тип</p>
                            </span>
                        </button>
                    </div>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="text-center text-semibold">Тип</th>
                                <th class="text-center text-semibold">Операції</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container
                                *ngFor="let item of pageGeneration[pageNumber - 1]">
                                <tr>
                                    <td>{{ item.name }}</td>
                                    <td class="text-center">
                                        <button class="btn btn-sm btn-outline-secondary mr-1 btn-add ms-2" data-bs-toggle="modal"
                                            data-bs-target="#typeModalUpdate" (click)="setEditedType(item.id)">
                                            Редагувати
                                        </button>
                                        <button class="btn btn-sm btn-outline-dark" (click)="deleteType(item.id)">Видалити</button>
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="containerpagin mt-2 mx-auto">
                <app-pager [itemsPerPage]="pageSize" [totalCountItems]="types.length" (pageChanged)="handlePageChange($event)"></app-pager>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="typeModal" tabindex="-1" aria-labelledby="typeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="typeModalLabel">Додати тип</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="text" class="form-control mb-3" placeholder="Введіть новий тип" #newTypeInput>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary text-dark" data-bs-dismiss="modal">Скасувати</button>
                <button type="button" class="btn btn-warning" data-bs-dismiss="modal" (click)="addType(newTypeInput.value)">Підтвердити</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="typeModalUpdate" tabindex="-1" aria-labelledby="typeModalUpdateLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="typeModalUpdateLabel">Редагувати тип</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="text" class="form-control mb-3" placeholder="" #editedTypeName>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary text-dark" data-bs-dismiss="modal">Скасувати</button>
                <button type="button" class="btn btn-warning" data-bs-dismiss="modal"
                    (click)="updateType(editedTypeName.value)">Підтвердити</button>
            </div>
        </div>
    </div>
</div>