<section class="container mx-auto pt-[44px] pb-[60px]">
    <div class="text-center mb-[40px] font-medium text-[32px]">
        <div class="pb-[12px]">
            <span class="text-redy-800">ТОП </span> <span class="text-kimberly-50">пропозиції</span>
        </div>
        <div class="info_block flex flex-row gap-[6px] justify-center items-center">
            <span class="block text-kimberly-50 text-lg font-medium">Дізнайся як потрапити на головну сторінку</span>
            <kolesko-icon name="info-icon-solid" class="text-redy-800 cursor-pointer"></kolesko-icon>
        </div>
    </div>
    <app-slider-light [vehicles]="vehicles"></app-slider-light>
</section>