<section class="container mx-auto py-[44px]">
    <div class="text-center mb-[40px] font-medium text-[32px]">
        <div class="pb-[12px]">
            <span class="text-red-800">ТОП </span> <span class="text-kimberly-50">пропозиції</span>
        </div>
        <div class="flex flex-row gap-[6px] justify-center" size="24px">
            <span class="block text-kimberly-50 text-lg font-medium">Дізнайся як потрапити на головну сторінку</span>
            <kolesko-icon name="info-icon-solid" color="red-800"></kolesko-icon>
        </div>
    </div>
    <app-slider-light [vehicles]="vehicles"></app-slider-light>
</section>