<div
  [id]="uniqueId"
  class="relative group flex flex-row rounded bg-kimberly-50 cursor-pointer h-full"
  (click)="handleClick(divInterfaceData.ApiCallOption)"
>
  <div
    class="h-full transition-all bg-kimberly-50 duration-300 opacity-0 max-w-[8px] w-[0px] border-0 rounded-l group-hover:opacity-100 group-hover:bg-redy-800 group-hover:w-sm"
    [class.always-visible]="isShown"
  ></div>
  <div class="flex flex-row justify-between w-full py-[14px] px-[12px]">
    <div class="flex flex-row-reverse gap-base items-center">
      <span class="text-md text-content-primary font-medium">
        @if (option.id !== '0' && option.name !== '9999') {
        {{ option.name }}
        } @else
        {
          {{ divInterfaceData.info}}
        }
      </span>

      <kolesko-icon
        [ngClass]="{
          'text-kimberly-50': divInterfaceData.iconUrl === 'calendar',
          'text-redy-800': divInterfaceData.iconUrl !== 'calendar'
        }"
        [name]="divInterfaceData.iconUrl"
      ></kolesko-icon>
    </div>

    <kolesko-icon class="text-redy-800 rotate-90"></kolesko-icon>
  </div>
  <ul
    [@dropDown]="isShown ? 'open' : 'closed'"
    class="absolute top-[calc(100%+2px)] p-xs w-full border-2 sm:border-0 bg-kimberly-50 border-redy-800 flex flex-col rounded z-30"
  >
    @if(DropDownElementUlInfo) { @for(info of DropDownElementUlInfo; track
    $index) {
    <li
      (click)="handleLiElementClick(info)"
      class="py-sm pl-sm transition-all duration-75 hover:bg-redy-800 text-content-primary text-md hover:text-kimberly-50 rounded group"
    >
      {{ info.name }}
    </li>
    } }
  </ul>
</div>
