input[type="range"]::-webkit-slider-thumb {
  @apply relative h-[18px] w-[18px] border-2 border-black bg-portGore-700 hover:bg-portGore-500 cursor-pointer;
  pointer-events: auto;
}
input[type="range"]{
    pointer-events: none; 
}

input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}