.banner-container {
    width: 100%;
    margin-top: -100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .banner-container img {
    max-width: 100%;
    height: auto;
  }