<div class="my-md flex flex-col gap-md">
  <div class="flex flex-row justify-start gap-[12px]">
    <app-icon-description
      class="size-md text-portGore-500"
    ></app-icon-description>
    <span class="font-bold text-portGore-950 text-md">Опис</span>
  </div>
  <div class="relative">
    <!--TEXT-->
    <div
      #textWrapper
      class="relative"
      [class]="show() ? 'h-fit' : ' h-[200px] overflow-clip'"
    >
      <p class="relative z-10 text-justify">
        {{ description() }}<br /><br />Червона машина — це не просто засіб
        пересування, а яскраве продовження особистості водія. Вона символізує
        внутрішній вогонь, жагу до руху й незалежності. У місті така автівка
        завжди на виду: вона пробуджує цікавість, змушує обертатися вслід,
        виділяється серед потоку сірості й буденності. Власники червоних машин
        часто прагнуть емоцій, нових вражень і відчуття свободи — вони не
        бояться проявляти себе й кидати виклик сірим шаблонам.<br /><br />Окрім
        естетики, червоний колір також підкреслює динамічність авто. Він
        ідеально пасує до спортивних форм, різких ліній і сучасного дизайну.
        Така машина викликає асоціації з потужністю двигуна, ревом мотора і
        вітром у вікнах на шосе. Вона ніби створена для того, щоб розповідати
        свою історію на кожному кілометрі шляху. Історію драйву, впевненості та
        свободи вибору.<br /><br />
        Цей автомобіль, немов жива істота, що поглинає кожну частинку дороги,
        мчить із захоплюючою швидкістю, не дозволяючи своєму власникові
        відчувати нудьгу чи обмеження. Він створений для тих, хто хоче не просто
        дістатися до місця призначення, а відчути кожен момент на шляху. Червона
        машина стає втіленням емоцій, драйву і свободи, її ревучий двигун
        нагадує про жагу до життя, про те, як важливо вірити в себе й не боятися
        йти вперед.
      </p>
    </div>

    <!--BLUR EFFECT-->
    <div
      class="pointer-events-none absolute bottom-0 left-0 w-full opacity-90 rounded-xl h-[140px] z-20 bg-gradient-to-t from-portGore-50 to-transparent"
      [class]="show() ? 'hidden' : ''"
    ></div>
    <!--BUTTON-->
    <button
      class="absolute z-50 -bottom-lg bg-transparent flex-row justify-center items-center gap-sm w-full"
      [class]="show() ? 'hidden' : 'flex'"
      (click)="showMore()"
    >
      <kolesko-icon class="text-portGore-950 rotate-90"></kolesko-icon>
      <span class="text-portGore-950 font-bold"> Дізнатия більше про авто</span>
      <kolesko-icon class="text-portGore-950 rotate-90"></kolesko-icon>
    </button>
  </div>
</div>
