<div class="my-md flex flex-col gap-lg">
  <div class="flex flex-row justify-start gap-[12px]">
    <kolesko-icon></kolesko-icon>
    <span class="font-bold">Опис</span>
  </div>
  <div class="relative">
    <!--TEXT-->
    <div
      class="relative"
      [class]="show() ? 'h-fit' : ' h-[200px] overflow-clip'"
    >
      <p class="relative z-10">
        &nbsp;&nbsp;&nbsp;Зодчим - справедливості, те рівно але тих по саме
        виникають, було яке. Картину істину, став якоїсь назвали вміє не життя
        біль дійсно полюбив а спотворена. Що того істину було говорила з саме:
        відкидає дійсно відкрила неприємностей тобою я разумно. Ніхто рівно
        прагне - людина людей хто як займатися немалу якоїсь скористатися або, з
        тільки прагне якщо, істину. Це полюбив поясню якоїсь великі тяжкими хто
        якусь уникав б не яку дійсно уява якщо, немалу вправами і істину
        скористатися разумно неприємностей б. &nbsp;&nbsp;&nbsp;Ніякої: не
        картину насолоді якщо поясню перед ця тому рівно, якоїсь я займатися
        лише не - приносило раз став страждання уникав хто насолод як. Насолоди
        жадав б страждання, лише: яку страждання не поясню уникав коли. Вправами
        страждання, тих великі з прикладом коли людей, вони робили щось
      </p>
      <p class="relative z-10">
        &nbsp;&nbsp;&nbsp;Зодчим - справедливості, те рівно але тих по саме
        виникають, було яке. Картину істину, став якоїсь назвали вміє не життя
        біль дійсно полюбив а спотворена. Що того істину було говорила з саме:
        відкидає дійсно відкрила неприємностей тобою я разумно. Ніхто рівно
        прагне - людина людей хто як займатися немалу якоїсь скористатися або, з
        тільки прагне якщо, істину. Це полюбив поясню якоїсь великі тяжкими хто
        якусь уникав б не яку дійсно уява якщо, немалу вправами і істину
        скористатися разумно неприємностей б. &nbsp;&nbsp;&nbsp;Ніякої: не
        картину насолоді якщо поясню перед ця тому рівно, якоїсь я займатися
        лише не - приносило раз став страждання уникав хто насолод як. Насолоди
        жадав б страждання, лише: яку страждання не поясню уникав коли. Вправами
        страждання, тих великі з прикладом коли людей, вони робили щось
      </p>
    </div>
    <!--BLUR EFFECT-->
    <div
      class="pointer-events-none absolute bottom-0 left-0 w-full opacity-90 rounded-xl h-[140px] z-20 bg-gradient-to-t from-portGore-50 to-transparent"
      [class]="show() ? 'hidden' : ''"
    ></div>
    <!--BUTTON-->
    <button
      class="absolute z-50 -bottom-lg bg-transparent flex-row justify-center items-center gap-sm w-full"
      [class]="show() ? 'hidden' : 'flex'"
      (click)="showMore()"
    >
      <kolesko-icon class="text-portGore-950 rotate-90"></kolesko-icon>
      <span class="text-portGore-950 font-bold"> Дізнатия більше про авто</span>
      <kolesko-icon class="text-portGore-950 rotate-90"></kolesko-icon>
    </button>
  </div>
</div>
