<div class="d-flex flex-row" aria-label="Change View">
  <button
    class="twoB"
    [ngStyle]="{ 'background-color': twoBactive ? 'black' : 'white' }"
    (click)="OnGTSButton()"
  >
    <mat-icon
      class="custom-icon-color"
      [ngStyle]="{ color: twoBactive ? 'white' : 'black' }"
      class="twoI"
      >grid_view</mat-icon
    >
  </button>
  <button
    class="threeB"
    [ngStyle]="{ 'background-color': twoBactive ? 'white' : 'black' }"
    (click)="OnGTRButton()"
  >
    <mat-icon
      class="custom-icon-color"
      [ngStyle]="{ color: twoBactive ? 'black' : 'white' }"
      class="threeI"
      >grid_on</mat-icon
    >
  </button>
</div>
