<!--Step name + Step brief description-->
<div class="flex flex-col gap-sm pb-[30px]">
  <div class="flex flex-row gap-[12px]">
    <app-icon-cog [svgClass]="'size-[34px]'"></app-icon-cog>
    <span class="text-h4 font-code">Технічні характеристики</span>
  </div>
  <span class="text-sm text-portGore-800"
    >Вкажіть технічні характеристики вашого автомобілю</span
  >
</div>
<div>Наші поля</div>
<!--VALIDATION GENERAL TIP-->
<div class="flex flex-row gap-[4px] pt-base text-portGore-500">
  <span>*</span>
  <span>поля обов'язкові до заповнення</span>
</div>
