@let displacementLable = "Об'єм двигуна";
<div [formGroup]="additionalGroup()">
  <!--Step name + Step brief description-->
  <div class="flex flex-col gap-sm pb-[30px]">
    <div class="flex flex-row gap-[12px]">
      <app-icon-cog [svgClass]="'size-[34px]'"></app-icon-cog>
      <span class="text-h4 font-code">Технічні характеристики</span>
    </div>
    <span class="text-sm text-portGore-800"
      >Вкажіть технічні характеристики вашого автомобілю</span
    >
  </div>
  <div class="grid grid-cols-2 grid-rows-2 gap-y-md gap-x-2xl">
    <!--Engine Type-->
    <app-autocomplete
      [label]="'Тип двигуна'"
      formControlName="engineType"
      [options]="engines()"
    ></app-autocomplete>
    <!--Displacement-->
    <app-input-with-symbol
      [label]="displacementLable"
      [symbol]="'л'"
      formControlName="displacement"
    ></app-input-with-symbol>
    <!--Transmission Type-->
    <app-autocomplete
      [label]="'Коробка передач'"
      formControlName="transmissionType"
      [options]="transmissions()"
    ></app-autocomplete>
    <!--Drivetrain Type-->
    <app-autocomplete
      [label]="'Привід'"
      formControlName="drivetrainType"
      [options]="drivetrains()"
    ></app-autocomplete>
  </div>
  <!--VALIDATION GENERAL TIP-->
  <div class="flex flex-row gap-[4px] pt-base text-portGore-500">
    <span>*</span>
    <span>поля обов'язкові до заповнення</span>
  </div>
</div>
