<div class="mb-[14px]">
  <div class="flex flex-row justify-between mb-[14px] max-h-[24px]">
    <div><span class="capitalize text-portGore-950">{{filteredTotalResults() | number:"0.0"}} результатів</span></div>
    <!--VIEW MODE SELECTORS-->
    <div class="flex flex-row gap-[6px]">
      <!--By some criteria-->
      <div
        class="flex flex-row gap-xs border-b-[1px] border-transparent cursor-pointer hover:border-portGore-950 hover:text-portGore-950"
      >
        <kolesko-icon
          [size]="24"
          src="assets/icons/features/catalog/outline-filter.svg"
          class="mr-[2px]"
        ></kolesko-icon>
        <span>За ціною</span>
        <kolesko-icon
          [size]="24"
          src="assets/icons/features/catalog/outline-chevron-down.svg"
        ></kolesko-icon>
      </div>
      <div class="min-w-[1px] h-full bg-portGore-950"></div>
      <!--LIST VIEW-->
      <kolesko-icon
        [ngClass]="{ 'text-portGore-950 opacity-100': (ourViewMode() === ViewMode.list) }"
        [size]="24"
        src="assets/icons/features/catalog/line-md_list.svg"
        [stroke]="true"
        class="my-auto cursor-pointer text-portGore-400 opacity-90 transition-all hover:text-portGore-950 hover:opacity-100"
        (click)="onViewModeButtonClick(ViewMode.list)"
      ></kolesko-icon>
      <!--GRID VIEW-->
      <kolesko-icon
        [ngClass]="{ 'text-portGore-950 opacity-100': (ourViewMode() === ViewMode.grid)  }"
        [size]="24"
        src="assets/icons/features/catalog/rivet-icons_grid-vertical.svg"
        class="my-auto cursor-pointer text-portGore-400 opacity-90 transition-all hover:text-portGore-950 hover:opacity-100"
        (click)="onViewModeButtonClick(ViewMode.grid)"
      ></kolesko-icon>
    </div>
  </div>

  <!--INFO CHIPS-->
  <app-info-chips [infoChips]="currentInfoChips()" [infoArrays]="currentInfoArrays()" (chipClick)="handleChipClick($event)" (arrayedChipClick)="handleArrayedChipClick($event)"></app-info-chips>
</div>
