<main class="w-[400px] d-flex align-items-center py-4 m-auto mt-5">
    <form class="form-signin w-100 m-auto">
        <img class="mb-4" src="../../../assets/images/Logo.svg" alt="" width="72" height="72">
        <h1 class="h3  fw-normal">Please log in</h1>

        <div class="form-floating mb-1">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating mb-1">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>

        <button class="mt-4 btn btn-warning w-100 py-2" type="submit">Log in</button>
        <p class="mt-5 mb-3 text-body-secondary">© LanosCertifiedStore</p>
    </form>
</main>