<table class="w-full border-collapse">
  <tbody>
    @for (chunk of chunkedBrands; track $index) {
    <tr>
      @for (item of chunk; track item.id) {
      <td
        class="border w-[20%] border-gray-500 text-black text-center bg-transparent h-28"
      >
        <span class="cursor-pointer">
          {{ item.name }}
        </span>
      </td>
      }
    </tr>
    } @empty {
    <tr>
      <td colspan="5" class="text-center">
        No data! There is probably some problems with a server!
      </td>
    </tr>
    }
  </tbody>
</table>
@if(brands.length > 10) {
<button
  (click)="changeTableView()"
  class="border w-full h-12 border-gray-500 border-t-0 bg-transparent flex justify-center items-center"
>
<span>{{ tableFullShown ? 'View Less Brands' : 'View More Brands' }}</span>

</button>
}
